---
layout: default
title: projects · jackyalciné
---
:markdown
  # Projects
  Most (if not all) of the projects I work on are personal and scratch an itch
  that I've always wanted to reach for quite some time.

  ## This Site
  This site is a personal itch! Leaving my mark on the interwebs, using 
  Jekyll to build a static site (there's so much faster, no?). Check out the
  source over at [GitHub](https://github.com/jalcine/jalcine.me).

  ## Wintermute
  This project is, in short, my personal attempt to build a parallel processing
  application framework that can operate to the likeness of JARVIS from Iron 
  Man. Interested? [Read some more](http://jalcine.me/weblog/wintermutes-the-name).
  [Check out the source code](http://wintermute.jalcine.me/) if you'd like.
