body.index
  > section[role=main]
    width: 90%
    margin-left: auto
    margin-right: auto

    p.grand
      font-size: 1.15rem
      color: darken($lavender, 40%)
      width: 80%
      margin: 2rem auto
      text-align: justify

    h1.title
      text-align: center

    img.full
      margin: 0rem auto
      min-width: 0rem
      width: 60%

    @media #{$medium-width}
      &
        width: 80%

    @media #{$large-width}
      &
        width: 70%

