body.index
  > section[role=main]
    p.grand, p.intro
      margin: 1rem auto

    p.grand
      text-align: center
      color: darken($background-color, 40%)

    p.intro
      font-family: $mono-font-family
      font-size: 1.5rem

    h1.title
      font-size: 3.5rem
      font-weight: 300
      text-align: center

    @media #{$tiny-width}
      &
        width: 100%
        margin: 0rem auto

        p.intro, p.grand
          width: 90%
          margin: 1rem auto
