body.index
  > section[role=main]
    h1.lead
      text-align: center
      font-variant: small-caps

    > img
      margin: 1rem auto
      display: block

    > p
      display: inline-block

      &.lead
        width: 70%
        margin: 0rem 15%
