body.pagination
  section[role=main]
    p.paginator
      clear: both
      height: 1.5rem
      width: 60%
      margin: 0rem auto

      @media #{$tiny-width}
        &
          width: 90%

      a.previous
        float: left
      a.next
        float: right

    section[role=entries]
      width: 60%
      margin: 0rem auto

      @media #{$tiny-width}
        &
          width: 80%

      p.entry
        margin: 1rem auto

        &:before
          +transition(all 0.3s)
          content: '\204B'
          float: left
          font-size: 2.5rem
          line-height: 3rem
          margin-left: -2rem
          margin-right: 1rem
          color: darken($background-color, 5%)
