body.pagination
  p.paginator
    clear: both
    display: block
    width: 60%
    margin: 1rem auto
    text-align: center
    height: 1rem

    @media #{$small-width}
      &
        width: 97.5%

    a
      display: block
      float: left
      line-height: 1rem
      width: 50%
      text-align: center

  @media #{$small-width}
    &
      width: 97.5%

  section[role=entries]
    width: 80%
    margin: 0rem auto

    @media #{$small-width}
      &
        width: 90%

    p.entry
      margin: 1rem auto
