body.post
  header.post, footer.post
    margin: 0rem auto
    text-align: left

  header.post
    > h1
      text-align: center

  section.post
    padding: 0.5rem 5% 0.5rem 15%
    width: 80%

    > aside.meta
      margin: -4rem 0rem -1.5rem -14rem
      font-size: 0.9rem
      position: fixed

      @media #{$medium-down}
        &
          margin: 0rem
          text-align: center
          position: static

    blockquote, ul, ol
      line-height: 1.5rem
      padding: 0rem 10%
      width: 80%

    p, li
      line-height: 1.75rem
      font-size: 1.1rem

    p
      margin: 1rem 0rem
      text-align: justify

      img
        margin: 0rem auto
        max-width: 95%

    ul, ol
      margin: 1rem 0rem

    .footnotes > ol > li,
    .footnotes > ol > li > p
      font-size: 0.8rem

    @media #{$medium-down}
      &
        width: 95%
        padding: 0.5rem 2.5%

  footer.post
    border-top: 0.2rem solid lighten($lavender, 20%)
    padding-top: 0.5rem
    width: 80%
