body.post
  header.post, footer.post
    margin: 0rem auto
    text-align: center

    p
      font-size: 0.8rem

  section.post
    padding: 0.5rem 10%
    width: 80%

    blockquote, ul, ol
      line-height: 1.5rem
      padding: 0rem 10%
      width: 80%

    p, li
      line-height: 1.75rem
      font-size: 1.1rem

    p
      margin: 1rem 0rem
      text-align: justify

      img
        margin: 0rem auto
        max-width: 95%

    ul, ol
      margin: 1rem 0rem

    .footnotes > ol > li,
    .footnotes > ol > li > p
      font-size: 0.8rem

  footer.post
    border-top: 0.2rem solid lighten($lavender, 20%)
    padding-top: 0.5rem
    width: 80%
