@import "colors";
@import "compass/css3";

body.blog {
  > div#index, div#post {
    margin: 5% auto;
    width: 70%;
    margin-top: 0em;
  }

  > div#index {
    ul.posts {
      padding: 1em 0em;
      li {
        line-height: 1.3;
        &:before {
          content: "\2605";
          color: lighten($foreground-color, 20%);
          padding-right: 0.2em;
        }

        > span {
          float: right;
        }
      }
    }
  }

  > div#post {
    > dl#postcard {
      @include border-radius;
      @include box-shadow;
      position: fixed;
      left: -5%;
      top: 10%;
      width: 15%;
      background-color: #fff;
      padding: 1em;
      font-size: 0.8em;
      transition: 0.4s left;

      &:hover { left: 1%; }

      dt {
        font-weight: bold;
        text-transform: capitalize;
        float: left;
      }

      dd {
        float: right;
        clear: right;
        font-style: italics;
      }
    }

    > h2 {
      font-size: 2.5em;
      text-align: center;
      font-weight: 800;
    }

    > section.content {
      img {
        width: 80%;
        height: auto;
        margin: 1em 10%;
      }

      p {
        line-height: 1.5;
        font-size: 1.2em;
        margin: 0.5em 0em;
        text-align: justify;
      }

      div.footnotes {
        ol > li {
          font-size: 0.6em;
          list-style: decimal;
          clear: both;
          padding-left: 0.5em;

          p { display: inline; width: auto; margin-left: 0.4em; }
          a[rev=footnote] { float: left; }
        }
      }
    }
  }
}
