@import "colors";
@import "compass/css3";
@import "page";

body.blog {
  @extend body.page;

  > div#index, div#post {
    margin: 5% auto;
    width: 90%;
    margin-top: 0em;
  }

  > div#index {
    ul.posts {
      padding: 1em 4em;
      li {
        line-height: 1.6em;
        &:before {
          content: "\2605";
          color: lighten($foreground-color, 20%);
          padding-right: 0.2em;
        }

        i.icon-time {
          &:before {
            content: "\0231B";
            margin-right: 0.2em;
            color: lighten($foreground-color, 40%);
          }
        }

        > span { float: right; }
      }
    }
  }

  > div#post {
    > dl #postcard {
      @include border-radius;
      @include box-shadow;
      position: fixed;
      left: -5%;
      top: 10%;
      width: 15%;
      background-color: #fff;
      padding: 1em;
      font-size: 0.8em;
      transition: 0.4s left;

      &:hover { left: 1%; }
    }

    > h2 {
      font-size: 3.5em;
      text-align: center;
      font-weight: 200;
    }

    > section.content {
      img { 
        width: 80%;
        height: auto;
        margin: 1em 10%;
      }

      p {
        line-height: 1.5;
        font-size: 1.2em;
        margin: 0.5em 0em;
        text-align: left;
      }

      div.footnotes {
        ol > li {
          font-size: 0.6em;
          list-style: decimal;
          clear: both;
          padding-left: 0.5em;
          p { display: inline; width: auto; margin-left: 0.4em; }
          a[rev=footnote] { float: left; }
        }
      }
    }

    > section.related {
      font-size: 0.8em;
      ul > li {
        list-style: square;
      }
    }
  }
}

@include max-screen(800px) {
  body.blog {
    > div#post, > div#index {
      width: 100%;
      margin: 0em;
    }

    > div#index {
      ul.posts {
        padding: 0em;
        margin: 0em auto;
        width: 90%;
      }
    }
  }
}
