@import "colors";
@import "compass/css3";
@import "page";

$pagination-padding: 0.15em;

body.blog {
  @extend body.page;

  > div#index {
    margin: 0em auto;
    width: 80%;
    ul.posts {
      padding: 1em 4em;
      li {
        line-height: 1.6em;
        &:before {
          content: "\2605";
          color: lighten($foreground-color, 20%);
          padding-right: 0.2em;
        }

        i.icon-time {
          &:before {
            content: "\0231B";
            margin-right: 0.2em;
            color: lighten($foreground-color, 40%);
          }
        }

        > span { float: right; }
      }
    }
  }

  > div#post {
    width: 80%;
    margin: 0em auto;
    > h2.title {
      font-size: 3.5em;
      text-align: center;
      font-weight: 200;
    }

    > section.pagination {
      a.left, a.right {
        position: fixed;
        line-height: 1.3em;
        height: 1.3em;
        font-size: 3em;
        font-weight: 800;
        top: 50%;
      }

      a.left {
        float: left;
        left: $pagination-padding;
      }

      a.right {
        float: right;
        right: $pagination-padding;
      }
    }

    > section.meta {
      text-align: center;
      padding-bottom: 0.7em;
      border-bottom: 0.4em darken($background-color, 5%) dotted;

      span.field {
        &:after {
          content: "\00A7";
          padding-left: 0.3em;
          color: darken($background-color,30%);
        }
        &:last-child { 
          &:after {
            content: "";
            padding-right: 0em;
          }
        }
      }
    }

    h2, h3, h4 { text-transform: uppercase; }

    > h2 { font-size: 2.5em; }
    > h3 { font-size: 2.25em; }
    > h4 { font-size: 2em; }

    > section.content {
      width: 90%;
      margin: 1em auto;

      ul > li { list-style: disc; }
      ol > li { list-style: decimal; }

      li { 
        font-size: 100%;
        margin: 1em 2em;
      }

      p {
        line-height: 1.5;
        font-size: 1em;
        margin: 0.5em 0em;
        text-align: left;

        > img {
          height: auto;
          width: 60%;
          margin: 1em 20%;
          vertical-align: top;

          &:nth-child(even) { float: left; }
          &:nth-child(odd) { float: right; }
        }
      }

      div.footnotes {
        ol > li {
          font-size: 0.6em;
          list-style: decimal;
          clear: both;
          padding-left: 0.5em;
          p { display: inline; width: auto; margin-left: 0.4em; }
          a[rev=footnote] { float: left; }
        }
      }
    }

    > section.related {
      font-size: 0.8em;
      margin: 2em;
      ul > li {
        list-style-type: circle;
      }
    }
  }
}

@include max-screen(800px) {
  body.blog {
    > div#post, > div#index {
      width: 100%;
      margin: 0em;
    }

    > div#index {
      ul.posts {
        padding: 0em;
        margin: 0em auto;
        width: 90%;
      }
    }
  }
}
