@import "colors";
@import "page";

body.index {
  header, footer { display: none; }
  border-top: none;
  display: table;

  > #hellothere {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    > h2 {
      display: block;
      font-weight: 900;
      font-size: 6em;
      font-family: "Monaco", "Ubuntu Mono","Courier New";
      letter-spacing: -2px;
    }

    > a {
      text-decoration: none;
      color: #368ece;
    }

    > span { display: block; margin: 0.1em 0em; }

    > span.section, span.minor {
      padding: 0.5em;
      color: darken($background-color, 30%);
    }

    > span.section {
      font-size: 1.5em;
      color: darken($background-color, 10%);
    }
  }
}
