@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300|Actor:300);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import "colors";
@import "lib/media-queries";

$font-size: 16px;

html, body {
  font-family: "Open Sans", Lato, Oxygen, Ubuntu;
  font-size: $font-size;
  font-weight: 200;
  line-height: 1;
  transition: 0.3s font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Actor";
  margin: 0.3em -0.1em;
  font-weight: 900;
  transition: 0.3s font-size;
}

a, p, div, span, section { transition: 0.3s font-size; }

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4, h5, h6 { font-size: 1.25em; }

code { font-family: Inconsolata, Monaco, "Courier New"; }

span.section {
  &:after {
    content: "\00A7";
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2em;
    margin: 0.3em 0em;
    color: darken($background-color, 30%);
  }
}

@include max-screen(800px)  {  html, body { font-size: $font-size * 0.8; } }
@include min-screen(1200px) {  html, body { font-size: $font-size * 1.2; } }
@include min-screen(1600px) {  html, body { font-size: $font-size * 1.4; } }
