$header-height: 4rem;

header.main, footer.main {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 0rem;
  width: 100%;

  @media #{$desktop} {
    & {
      flex-direction: row;
      aside, nav { margin: 0rem 1rem; }
    }
  }
}

header.main {
  justify-content: space-around;
  aside {
    margin-top: -0.5rem;
  }

  aside, nav {
    display: flex;
  }

  @media #{$desktop} {
    & {
    }
  }
}

img {
  &.header-logo {
    height: $header-height;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0.3rem;
    transition: 0.3s color;
  }

  &.padded {
    max-width: 100%;
    margin: 1.5rem auto;
    display: block;
    clear: both;
  }
}

footer.main {
  padding: 1.5rem 0rem;
  font-size: 1.25rem;
}

aside.main {
  text-align: center;

  a {
    height: $header-height;
    line-height: $header-height;
    display: block;
    transition: 0.3s color;
    color: lighten($black, 20%);

    &:hover {
      color: $white;

      > img { opacity: 0.6; }
    }

    &::before { background-color: transparent; }
  }
}

nav.main ul {
  display: inline;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: inline;
    line-height: $header-height;
    font-size: 1.5rem;

    a {
      color: $white;
      margin: 0.2rem 0.25rem;

      &::before { background-color: $white; }
    }
  }
}

section.parent-wrapper {
  max-width: $max-page-width;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;

  img {
    max-width: 100%;
  }

  section.larger {
    font-size: 120%;
  }
}

.pull-right { float: right; }
