$clr-headerBg: $gray;
$clr-headerFg: $black;
$header-bgImageSize: 60%;
$clr-roleWork: #5747ff;
$clr-roleMusic: #4793ff;
$clr-roleWeblog: #B81000;

header[role=index] {
  background-image: url(/images/brand/splash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: flex-end;
  color: $clr-headerFg;

  a {
    color: $clr-headerFg;
    font-weight: bold;

    &::before { background-color: $black; }
  }

  p, h2 {
    margin: 0rem 0.5rem;
    color: inherit;
  }

  @media #{$tablet} {
    background-image: url(/images/brand/splash@2x.jpg);
  }

  @media #{$desktop} {
    background-image: url(/images/brand/splash@3x.jpg);
  }

  @media #{$tablet-up} {
    background-size: $header-bgImageSize;
    background-position: 3% 0%;
    border: 1rem solid $white;
    border-width: 1rem 0rem;
    max-height: 50rem;
  }
}

div.index-wrapper {
  text-align: left;
  color: $clr-headerFg;
  background-color: rgba($clr-headerBg, 0.85);
  background-position: center 10%;
  background-size: 80%;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  margin: 0rem auto;
  padding: 0.8rem 0rem;

  h1 {
    padding-left: 0.5rem;
    font-size: 2.5rem;
  }

  // Edge-case: if the screen's too short; hide Tony.
  @media (min-height: 30rem) {
    background-image: none;
  }

  @media #{$tablet-up} {
    background-image: url(/images/iron_man_splash.gif);
    background-color: $white;
    color: $black;
    height: 100%;
    width: 40%;
    max-height: 50rem;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;

    h1, p {
      margin: 0rem;
      padding: 0rem;
    }

    h1 {
      font-variant: small-caps;
    }

    p {
      font-family: $font-webSerif;
      font-size: 1.25rem;
      color: lighten($black, 10%);

      &:nth-child(1) {
        font-size: 2.25rem;
        font-family: $font-webSans;
      }

      &:nth-child(2) { font-size: 1.75rem; }
    }
  }
}

nav[role=index],
section.region {
  padding: 1.5%;
  margin: 0rem;

  @media #{$desktop} {
    padding: 2% 15%;
  }
}

nav[role=index] {
  padding: 0rem;
  background-color: $black;
  height: 3rem;
  line-height: 3rem;
  text-align: center;

  a {
    color: $white;
    margin: 0rem 0.625rem;
    font-size: 1.25rem;
    font-weight: $font-weightHeavy;

    &::before {
      top: 100%;
      background-color: $white;
    }
  }

  @media #{$desktop} {
    height: 4.5rem;
    line-height: 4.5rem;
    a {
      font-size: 2.25rem;
    }
  }
}

section.region {
  color: $white;
  min-height: 5rem;
  align-content: center;
  font-size: 1.2rem;

  a {
    color: $white;
    font-weight: $font-weightHeavy;

    &::before {
      top: 75%;
      background-color: $white;
    }
  }

  @media #{$mobile-up} {
    text-align: left;
  }

  @media #{$tablet-up} {
    h1 { font-size: 3rem; }
  }

  &[role=alert] {
    display: flex;
    justify-content: center;
    background-color: $black;
    color: $white;
    font-size: 225%;
  }

  &[role=work]   { background-color: $clr-roleWork; }
  &[role=music]  { background-color: $clr-roleMusic; }
  &[role=weblog] { background-color: $clr-roleWeblog; };
}
