header[role=post],
main[role=post],
footer[role=post] {
  padding: 0.5rem 0rem;
  margin: 0.75rem 0.5rem 1.5rem;
  max-width: $max-page-width;
}

header.image[role=post] {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: flex;
  min-height: 45vh;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;

  h1 {
    text-align: center;
    background-color: rgba($black, 0.5);
    padding: 1.5rem 0.75rem 0.5rem;
    margin-bottom: -0.5rem;

    a {
      color: $white
    }
  }
}

aside[role=stats] {
  width: 100%;
  clear: both;
  margin: 0.5rem auto;
  border: 1px solid #555;

  @media #{$mobile-up} {
    padding: 0.5rem;
    position: relative;
    right: 0.5rem;
    max-width: 50%;
    float: right;
    display: inline-block;
    margin: 1.5rem;
  }
}

main[role=post] {
  img.emoji { vertical-align: text-top; }
  img:not(.emoji) {
    margin: 0rem auto;
    display: block;
  }

  blockquote {
    border-left: 0.5rem solid $gray;
    padding-left: 0.5rem;
  }
}

figcaption.quote-score {
  color: $gray;

  a { color: lighten($clr-LinkForeground, 20%); }
}

h1.post-title {
  font-size: 4rem;

  a:before {
    transform: none;
    width: 0px;
  }
}

h2.post-byline {
  color: lighten($black, 40%);
}

footer[role=post] {
  background-color: $black;
  color: $white;
  text-align: center;

  a {
    color: inherit;
    font-weight: bold;
    &:before { color: $white; }
  }
}

section[role=entries] {
  ul {
    max-width: ($max-page-width / 5) * 4;
    margin: 0rem auto;
    padding: 0.25rem 0rem;

    li {
      list-style: square;
      margin: 0.25rem 0rem 0.5rem;
      padding: 0rem;
      color: lighten($black, 10%);

      a {
        display: inline;
        clear: both;
      }

      time {
        font-size: 0.75rem;
        color: $gray;
        line-height: 1.5rem;
      }
    }
  }
}

div.footnotes {
  font-size: 0.7rem;
}
