<section class="ph3 mv2" id="isso-thread" data-title="{{ page.title }}">
  <noscript class="bg-washed-blue b--navy bw1 b--dashed ph4-ns ph2 cb">
    By enabling JavaScript, you'll be able to <a
      href="/faq/classic-comments">view and post traditional
      comments</a> on this post. However, I'd encourage you to make use of
    <a href="/faq/indieweb#webmentions">WebMentions</a> if you have a
    longer-form post to make and still want to have full control of the
    content.
  </noscript>
</section>
