<footer role="document" class="h-card bg-near-black near-white bt bw3 b--near-black pa1" data-track-content>
  <div class="w-100 center mv3 pb2 pb4-ns">
    <h1 class="f2 f-headline-ns lh-title-ns washed-blue tc tracked-tight ma0
      pa0 fontFamily__special dim">
      {% asset brand/self.jpeg class='p-logo u-photo v-mid cb-s br-100 h3 h4-ns grow mb3 ma1-ns' alt='{{ site.name }}' width=auto height=auto %}
      <a class="n-nickname p-name u-url near-white" rel="me" href="{{ site.url }}">{{ site.name_safe }}</a>
    </h1>
    <h2 class="f4 f3-ns gray tc tracked-tight fw3">
      :fist: This who I be. :punch:
    </h2>
    <nav class="f5 f4-ns w-100 mw6 pa1 white center flex flex-wrap flex-row justify-between">
      {% for link in site.data.links.navigation %}
        <a class="w-third w-auto-ns pa2 tc fw5" href="{{ link.link }}" title="{{ link.title }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
  <section class="w-90 center cb cf db mw8 color-inherit">
    <div class="f3 w-50-l fl-l tc-s tl-ns">
      {% include_cached search.html %}
      <p class="p-note f5 lh-copy measure-narrow-l">{{ site.description | improve }}</p>
      <p class="gray f6">
        See a pesky :bug:?
        <a target="_blank" href="{{site.url}}/faq/reporting-bugs/">
          Let me know
        </a>!
      </p>
      <p class="gray f6">
        :lock: PGP Key:
        <a target="_blank" class="p-key" href="{% asset pgp.asc @path %}">
          {{ site.gpg.fingerprint }}
        </a>
      </p>
      <p class="h-adr f6 gray">
        Made in :city_sunset: <span class="p-locality">Oakland</span>, :us: <span
          class="p-country-name">United States of America</a>.
      </p>
    </div>
    <div class="db pa2-l w-100 mt5 mt3-ns fl-l w-50-l color-inherit">
      <p class="tr-l f6">
        :eyes: See what I'm up to <a href="/now/" target="_blank">right now</a>.
      </p>
      {% include_cached newsletter_inline.html %}
    </div>
  </section>
</footer>
