%a{href:'#'}
  %i.fa.fa-fw.fa-arrow-up
  Top
%hr
%small
  All content, otherwise noted or explicitly mentioned is licensed under
  the CC-BY-SA 3.0 license. All code samples shown here are available under
  the MIT license.
%script{type:'javascript',src:'/js/page.js'}
%script{type:'javascript',src:'//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js'}
%script{type:'javascript',src:'//code.jquery.com/jquery-2.0.0.js'}
