<footer role="group" class="bg-near-white near-black bt bw3 b--black-50 ph2 ph4-l pv3 pv4-l">
  <h2 class="f2 lh-title tc navy fw5 fontFamily__special">{{ site.name }}</h2>
  <section class="cf db w-100 color-inherit">
    <div class="f6 w-100 w-50-l fl-l">
      <span>Been at this since 2010.</span><br />
      <span><a href="/now">See what I'm currently up to.</a></span><br />
      <p class="f6 lh-copy measure-narrow">{{ site.description | improve }}</p>
      <nav class="tc-s tj-ns w-100 white">
        {% for link in site.data.links.navigation %}
          <a class="link dib white dim fw5" href="{{ link.link }}" title="{{ link.title }}">{{ link.title }}</a>
          <span class="dib blue">{% if forloop.last != true %} &mdash; {% endif %}</span>
        {% endfor %}
      </nav>
    </div>
    <aside class="db w-100 mt5 w-50-l fr-l mt0-l color-inherit">
      {% include newsletter_inline.html %}
    </aside>
  </section>
</footer>
