%a{href:'#'}
  %i.fa.fa-fw.fa-arrow-up
  Top
K: <a href="{% post_url 2013-10-22-fixing-my-gpg %}"><code><b>
A1A5 A0EB B69F 23AE 67B6  F914 2A23 4ABC 6E76 7393
</b></code></a>
%hr
%small
  All graphical content, otherwise noted or explicitly mentioned is licensed under
  the CC-BY-SA 3.0 license. All code samples shown here are available under
  the MIT license. The text here that I use is mine; I said it.
%br
%small
  Powered by <a href="http://jekyllrb.com">Jekyll</a> &amp; 
  <a href="http://sass-lang.com">Sass</a> ⚫
  Stored at <a href="https://github.com/jalcine/jalcine.me">Github</a> ⚫
  Hosted on <a href="http://digitalocean.com">DigitalOcean</a>
%script{type:'javascript',src:'//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js'}
%script{type:'javascript',src:'/js/page.js'}
