%title= "{{ page.title }} - jackyalciné"
%meta{charset: 'utf-8'}
%meta{name:'viewport', content:'width=device-width,height=device-height,zoom=1.0'}
%link{rel: :stylesheet, href:'/css/screen.css'}
%link{rel: :stylesheet, href:'/css/syntax.css'}
%link{rel: :author, href: 'https://plus.google.com/118415769922038925979/posts'}
%link{rel: :alternative,href:'/feed.xml',title:'jackyalciné',type:'application/atom+xml'}
%link{rel: 'shortcut icon', href: '/images/me.png'}
%meta{itemprop:'name',content:"{{page.title}}"}
%meta{itemprop:'description',content:"{{(page.excerpt || site.description) | strip_html}}"}
%meta{property:'og:title',content:"{{page.title}}"}
%meta{property:'og:description',content:"{{(page.excerpt || site.description) | strip_html}}"}
%meta{property:'og:url',content:"{{ site.url }}{{ page.url }}"}
%meta{name:'twitter:card',content:'summary'}
%meta{name:'twitter:url',content:"{{site.url}}{{page.url}}"}
%meta{name:'twitter:creator',content:'@jackyalcine'}
%meta{name:'twitter:site',content:'@jackyalcine'}
%meta{name:'twitter:title',content:"{{ page.title }}"}
%meta{name:'twitter:domain',content:"{{site.url}}"}
%meta{name:'twitter:image',content:'{{ site.url }}/images/me.png'}
:javascript
  var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
  analytics.load("se6rauh0mx");
