.frame
  %ul
    %li
      %a{href:'/', title: 'Home'}
        %i.fa.fa-home
        %b Home
    %li
      %a{href:'/about', title: 'About'}
        %i.fa.fa-book
        %b About
    %li
      %a{href:'/weblog', title: 'Blog'}
        %i.fa.fa-bookmark
        %b Blog
    %li
      %a{href: '/projects', title: 'Projects'}
        %i.fa.fa-briefcase
        %b Projects
