<header class="main">
  <section>
    <a href="/" name="top">
      <img src="/images/me-320.jpeg" alt="Me! on a roof">
      Jacky Alciné
    </a>
  </section>
  <section>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/weblog/">Blog</a></li>
      <li><a href="/gpg/">GPG</a></li>
      <li><a href="/gear/">Gear</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/work/">Work</a></li>
    </ul>
  </section>
</header>
