%header{role: :main}
  %h1
    %a{href: '/'} Jacky Alciné
  %nav
    %ul
      %li
        %a{href: '/about/', title: 'About Jacky'} About
      %li
        %a{href: '/weblog/', title: 'Things I Write'} Weblog
