.frame
  %h1
    %a{href:'/'} jackyalciné
  %a{href:'/'}
    %img.head{src:'https://secure.gravatar.com/avatar/80a10e58c35275ddb7a8e681f277e474.png?s=96', alt: 'Picture of Jacky'}
  %ul
    %li
      %a{href:'/about'} About
    %li
      %a{href:'/weblog'} Blog
    %li
      %a{href:'https://github.com/jalcine'} Code
    %li
      %a{href:'/projects'} Projects
