{% capture _garbage_ %}
{% if page.title %}
  {% capture correct_title %}{{page.title}} &mdash; {{site.name}}{% endcapture %}
{% else %}
  {% assign correct_title = site.name %}
{% endif %}
{% if page.excerpt %}
  {% assign blurb = page.excerpt | strip_html | strip_newlines | truncate: 200 %}
{% else %}
  {% assign blurb = site.description | strip_newlines %}
{% endif %}
{% if page.image != none and page.image != "" and page.image != "none" %}
  {% assign image = page.image %}
{% else %}
  {% assign image = '196x196.png' %}
{% endif %}
{% assign full_page_uri = page.url | prepend: site.url %}
{% if page.redirect %}
  {% assign full_page_uri = page.redirect.to %}
{% endif %}
{% endcapture %}

{% if page.updated_at %}
<meta name="revised" content="{{ page.updated_at }}">
{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% if page.redirect %}
  <meta http-equiv="refresh" content="2; url={{ page.redirect.to | prepend: site.url }}">
{% endif %}
<meta name='revisit-after' content='1 day'>
{% if page.date %}
  <meta name="date" content="{{ page.date }}">
{% endif %}

{% asset page.css %}

<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
<meta http-equiv='Expires' content='0'>
<meta itemprop="name" content="{{ correct_title }}">
<meta name="application-name" content="{{ site.name }}"/>
<meta itemprop="description" content="{{ blurb }}">

<meta property="og:title" content="{{ correct_title }}">
<meta property="og:description" content="{{ blurb }}">
<meta property="og:url"  content="{{ full_page_uri }}">
<meta property="og:image" content="{{site.url}}{% asset '{{image}}' @path %}" />

<meta name="twitter:url" content="{{ full_page_uri }}" />
<meta name="twitter:creator" content="@jackyalcine" />
<meta name="twitter:site" content="@jackyalcine" />
<meta name="twitter:title" content="{{ correct_title }}" />
<meta name="twitter:domain" content="{{ site.url }}" />
<meta name="twitter:description" content="{{ blurb }}" />
<meta name="twitter:image:src" content="{{site.url}}{% asset '{{ image }}' @path %}" />
<meta name="twitter:card" content="summary_large_image" />

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<link rel="author" href="https://plus.google.com/118415769922038925979/posts" />
<link rel="help" title="FAQ" href="{{ site.url }}/faq/">
<link rel="index" title="{{ site.name }}" href="{{ site.url }}">
{% include_cached favicon.html %}

<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Articles" href="{{site.url}}/feeds/articles.xml" />
<link href="{{ site.url }}/{% asset pgp.asc @path %}" rel="pgpkey" />
{% for uri in site.data.relme %}<link href="{{ uri }}" rel="me" />
{% endfor %}
<link rel="canonical" href="{{ full_page_uri }}">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

<link rel="openid.delegate" href="https://jacky.wtf/" />
<link rel="openid.server" href="https://openid.indieauth.com/openid" />

{% webmentions_head %}

<title>{{ correct_title }}</title>
