{% capture _garbage_ %}
{% if page.title %}
  {% capture correct_title %}{{page.title}} &mdash; {{site.name}}{% endcapture %}
{% else %}
  {% assign correct_title = site.name %}
{% endif %}
{% if page.excerpt %}
  {% assign blurb = page.excerpt | strip_html | strip_newlines | truncate: 200 %}
{% else %}
  {% assign blurb = site.description | strip_newlines %}
{% endif %}
{% if page.image contains 'http://' or page.image contains 'https://' %}
	{% assign image = page.image %}
{% else %}
	{% assign image = 'favicon/android-chrome-192x192.png' %}
{% endif %}
{% assign full_page_uri = page.url | prepend: '/' | prepend: site.url %}
{% if page.redirect %}
  {% assign full_page_uri = page.redirect.to %}
{% endif %}
{% endcapture %}
<title>{{ correct_title }}</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% if page.redirect %}
  <meta http-equiv="refresh" content="2; url={{ page.redirect.to }}">
{% endif %}
{% css page %}
<link rel="apple-touch-icon" sizes="180x180" href="{% asset_path 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% asset_path 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="194x194" href="{% asset_path 'favicon/favicon-194x194.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% asset_path 'favicon/android-chrome-192x192.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% asset_path 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% asset_path 'manifest.json' %}">
<link rel="mask-icon" href="{% asset_path 'favicon/safari-pinned-tab.svg' %}" color="#121212">
<link rel="shortcut icon" href="{% asset_path 'favicon/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-TileImage" content="{% asset_path 'favicon/mstile-144x144.png' %}">
<meta name="msapplication-config" content="{% asset_path 'browserconfig.xml' %}">
<meta name="theme-color" content="#121212">


<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Articles" href="/feeds/articles.xml" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Recent" href="/feeds/recent.xml" />
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">

<meta itemprop="name" content="{{ correct_title }}">
<meta itemprop="description" content="{{ blurb }}">

<meta property="og:title" content="{{ correct_title }}">
<meta property="og:description" content="{{ blurb }}">
<meta property="og:url"  content="{{ full_page_uri }}">
<meta property="og:image" content="{{ image }}" />

<meta name="twitter:url" content="{{ full_page_uri }}" />
<meta name="twitter:creator" content="@jackyalcine" />
<meta name="twitter:site" content="@jackyalcine" />
<meta name="twitter:title" content="{{ correct_title }}" />
<meta name="twitter:domain" content="{{ site.url }}" />
<meta name="twitter:description" content="{{ blurb }}" />
<meta name="twitter:image:src" content="{{ image }}" />
<meta name="twitter:card" content="summary_large_image" />

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<link rel="author" href="https://plus.google.com/118415769922038925979/posts" />

<link href="https://github.com/jalcine" rel="me" />
<link href="https://twitter.com/jackyalcine" rel="me" />
<link rel="canonical" href="{{ full_page_uri }}">
