.frame
  %ul
    %li
      %a{href:'/'}
        %img.head{src:'/images/me.png', alt: 'Picture of me, Jacky Alciné'}
    %li
      %a{href:'/about'}
        %b About
    %li
      %a{href:'/weblog'}
        %b Blog
    %li
      %a{href: '/projects'}
        %b Projects
