{% if page.title %}
  {% capture correct_title %}{{page.title}} &mdash; {{site.name}}{% endcapture %}
{% else %}
  {% assign correct_title = site.name %}
{% endif %}
{% if page.excerpt %}
  {% assign blurb = page.excerpt | strip_html | strip_newlines | truncate: 200 %}
{% else %}
  {% assign blurb = site.description %}
{% endif %}

<title>{{ correct_title }}</title>
<!-- Set Data Encoding and Content-Type -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Styling -->
{% css page %}

<link href="/images/me.jpeg" rel="shortcut icon" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Articles" href="/feeds/articles.xml" />

<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1">

<!-- Apple Support -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#F7F7F7">

<!-- Classic Metadata -->
<meta itemprop="name" content="{{ correct_title }}">
<meta itemprop="description" content="{{ blurb }}">

<!-- Facebook Open Graph -->
<meta property="og:title" content="{{ correct_title }}">
<meta property="og:description" content="{{ blurb }}">

<meta property="og:url"  content="{{ site.url }}{{ page.url }}">
{% if page.image %}<meta property="og:image" content="{{ site.url | append: page.image }}"/>
{%else%}<meta name="og:image" content="{{site.url | append: '/favicon.jpg'}}"/>
{%endif%}
<!-- Twitter Card Support -->
<meta name="twitter:url" content="{{page.url | prepend: site.url }}">
<meta name="twitter:creator" content="@jackyalcine">
<meta name="twitter:site" content="@jackyalcine">
<meta name="twitter:title" content="{{ correct_title }}">
<meta name="twitter:domain" content="{{site.url}}">
<meta name="twitter:description" content="{{ blurb }}">
{% if page.image %}<meta name="twitter:image:src" content="{{site.url | append: page.image }}"/>
<meta name="twitter:card" content="summary_large_image">
{%else%}<meta name="twitter:image:src" content="{{site.url | append: '/favicon.jpg'}}"/>
<meta name="twitter:card" content="summary">
{%endif%}<!-- End Twitter Card Support -->

<!-- Microsoft Support -->
<meta name="application-name" content="{{ correct_title }}"/>
<meta name="msapplication-TileColor" content="#F7F7F7"/>
<meta name="theme-color" content="#F7F7F7"/>
<meta name="msapplication-square70x70logo" content="/images/me-76.png" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<!-- Microsoft Support -->

<!-- Google Authorship -->
<link rel="author" href="https://plus.google.com/118415769922038925979/posts" />

<!-- Icons -->
<link rel="apple-touch-icon" sizes="64x64" href="/images/me-64.jpeg" />
<link rel="icon" sizes="64x64" href="/images/me-64.png" />
