.frame
  %ul
    %li
      %a{href:'/', title: 'Home'}
        %i.fa.fa-home
        %strong Home
    %li
      %a{href:'/about/', title: 'About'}
        %i.fa.fa-question
        %strong About
    %li
      %a{href:'/weblog/', title: 'Blog'}
        %i.fa.fa-bookmark
        %strong Blog
