<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js"></script>
<script type="text/javascript">
  if (WebFont) {
    WebFont.load({
      google: {
        families: [
          'Permanent+Marker:500',
          'Martel:200,700',
          'Inconsolata:200'
        ]
      }
    });
  }
</script>
{% for src in page.javascripts %}
  <script type="text/javascript" src="{{ src }}" defer="true"></script>
{% endfor %}
<script type="text/javascript" src="/js/vendor/jquery.timeago.js" defer="true"></script>
<script type="text/javascript" src="/js/main.js" defer="true"></script>
