<script type="text/javascript" defer async>
  (function addWebFontScript(d) {
    var webFontConfig = {
      google: {
        families: [
          'Permanent+Marker:500',
          'Martel:200,700',
          'Inconsolata:200'
        ]
      }
    }

    var webFontSrc =
      'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js'
    var webFontScriptElem = d.createElement('script')
    var firstScriptElem = d.scripts[0]
    webFontScriptElem.src = webFontSrc
    firstScriptElem.parentNode.insertBefore(webFontScriptElem, firstScriptElem)

    webFontScriptElem.addEventListener('load', (function loadFonts() {
      WebFont.load(webFontConfig)
    }).bind(this))
  })(document)
</script>
