<header role="group" class="masthead post">
  {% asset '{{ page.image }}'
    srcset:max-width='600 0.5x'
    srcset:max-width='1000 0.833x'
    srcset:min-width='1200 1x'
  %}
  <h1 itemprop="name headline">{{ page.title | improve }}</h1>
  {% if page.byline %}<h2>{{ page.byline | improve }}</h2>{% endif %}
  {% if page.excerpt and page.excerpt != 'none' %}
    <blockquote class="excerpt">
      {{ page.excerpt | markdownify }}
    </blockquote>
  {% endif %}
  {% include post_metadata.html %}
</header>
