<form class="db w-100 mw7 center" action="https://buttondown.email/api/emails/embed-subscribe/jackyalcine"
  method="post"
  target="popupwindow"
  data-track-content
  data-content-name="newsletter-subscribe-inline"
  onsubmit="window.open('https://buttondown.email/jackyalcine', 'popupwindow')">
  <fieldset class="cf bn ma0 pa0">
    <legend class="center-s pa0 f5-ns fr-l tr-l mb3 w-100 w-auto-l">
      <div class="f4 fr-l tr-l tc ttu fw7 tracked-tight cb">Subscribe today!</div>
      <div class="f5 fr-l tr-l tc cb db light-gray">Get the latest updates on my mailing list.</div>
      <div class="f5 fr-l tr-l tc cb db pv2">
        <small>
          Powered by <a href="https://buttondown.email">Buttondown</a>.
          <a href="{% post_url 2018-01-06-moving-to-buttondown %}?utm_source=Navigation&utm_medium=Footer">Why This?</a>
        </small>
      </div>
    </legend>
    <input type="hidden" value="1" name="embed" />
    <div class="cf">
      <label class="clip" for="tlemail">Email Address</label>
      <input data-track-content class="br--left br4 f6 w-75 f5-l input-reset bn fl black-80 bg-white lh-solid pa3"
             placeholder="Your Email Address" type="text" name="email">
      <input data-track-content data-content-piece="newsletter-subscribe-button"
      class="br4 lh-solid br--right f6 w-25 pa3 f5-l button-reset fl tc bn bg-animate bg-black-70 hover-bg-black white pointer" type="submit" value="Join">
    </div>
  </fieldset>
</form>
