<form action="https://buttondown.email/api/emails/embed-subscribe/jackyalcine"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/jackyalcine', 'popupwindow')"
  class="mw7 center pa3"
  data-track-content
>
  <input type="hidden" value="1" name="embed"/>
  <input type="email" name="email" class="f6 f5-l input-reset bn fl black-80 bg-white pa4 lh-solid w-100" placeholder="your.fancy@email.address">
  <input type="submit" value="Subscribe" class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100" />
  <small class="fr pv2">Powered by <a href="https://buttondown.email">Buttondown</a>.</small>
</form>
