<p class="w-100 pa2 ph4-l ma0 db cb cf v-mid bg-yellow near-black fw5 f5 tc">
  Need a hand with tech consulting? I can help! <br/>
  <a href="/work/contract/?ref=notice" class="link navy dim fw7">Learn more</a>
  about how we can work via
  <a class="link navy dim fw7" target="_blank" href="https://black.af/">
    black.af
  </a>.
</p>
<p class="w-100 pa2 ph4-l ma0 db cb cf v-mid bg-light-green dark-green fw5 f5 bb b--dark-green bw1 tc">
  <a class="green dim fw7" target="_blank" href="https://www.theguardian.com/environment/2018/oct/08/global-warming-must-not-exceed-15c-warns-landmark-un-report">
    The ecosystems of the world are dying.
  </a><br />
  <a class="green dim fw7" target="_blank" href="https://www.theguardian.com/environment/2018/oct/10/huge-reduction-in-meat-eating-essential-to-avoid-climate-breakdown">
    Reduce your :pig::chicken: meat and :cow::goat: dairy intake to help the
    environment :seedling:
  </a>.
</p>
<p class="w-100 pa2 ph4-l ma0 db cb v-mid bg-near-black lightest-blue fw5 f5 tc">
  This site is in the process of moving to
  <a href="https://indieweb.org/Koype" class="link color-inherit dim fw7">Koype</a>.
  You can view my instance at
  <a href="https://v2.jacky.wtf" class="link color-inherit dim fw7">v2.jacky.wtf</a>.
</p>
