<section role='lead' class="bg-near-black white pa4-ns pa2 mt3 cb">
  <p class="lh-copy f4 center measure">
    Did you find &ldquo;<strong>{{ page.title }}</strong>&rdquo; useful? <br />
    I recommend <a href="/subscribe/"><em>subscribing to my newsletter</em></a>
    for more content and alerts when I publish more information.
  </p>
  <p class="lh-copy f2 tc">&sect;</p>
  <p class="lh-copy f4 measure center">
    Have a product idea? Need some code written?
    <strong>Let's work on it together</strong>.
    I'm available for your Web application contract work.<br />
    <a class="f6 link hover-white dim ba ph3 pv2 mv2 dib near-white washed-yellow"
       title="Take the plunge! Build your idea."
       href="/work/contract/?ref=blog" target="_blank">
      <strong>Let's get started</strong>&raquo;
    </a>
  </p>
</section>
