<section role='lead' class="bg-near-black white pa4-ns pa2 mt3 cb">
  <div class="mw8 center cb cf">
    <p class="lh-copy f4 mw7 measure tc tl-ns fl-l">
      Did you find &ldquo;<strong>{{ page.title }}</strong>&rdquo; useful? Want
      more? <br />
      I recommend <em>subscribing to my newsletter</em> for more content and alerts
      when I publish more information.<br />
    </p>
    <div class="fl-l mt2-l">
      {% include_cached newsletter_inline.html %}
    </div>
  </div>
  <p class="lh-copy f5 mw7">
    Have a product idea? Need some code written?
    <strong>Let's work on it together</strong>.
    I'm available for your Web application contract work.<br />
    <a class="f6 link hover-white dim ba ph3 pv2 mv2 dib near-white washed-yellow"
       title="Take the plunge! Build your idea."
       href="/faq/contracting/" target="_blank">
      <strong>Let's get started</strong>&raquo;
    </a>
  </p>
</section>
