<section role='lead' class="bg-near-black white pa4-ns pa2 mt3 cb">
  <p class="lh-copy f4 mw7">
    Did you find &ldquo;<strong>{{ page.title }}</strong>&rdquo; useful? Want
    more? <br />
    I recommend <em>subscribing to my newsletter</em> for more content and alerts
    when I publish more information.<br />
    <a class="grow light-blue" target="_blank" href="/subscribe/#newsletter">
      <strong>Get to the top of line</strong> &raquo;
    </a>
  </p>
  <p class="lh-copy f5 mw7">
    Have a product idea? Need some code written?
    <strong>Let's work on it together</strong>.
    I'm available for your Web application contract work.<br />
    <a class="grow light-blue" target="_blank" href="/faq/contracting/">
      <strong>Let's get started</strong> &raquo;
    </a>
  </p>
</section>
