<header role="post">
  <h1 class="title">{{ include.title || page.title }}</h1>
</header>
<section role="stats">
  <span>
    {{ page.content | number_of_words | intcomma }} words
  </span> &mdash;
  <span>
    written <a href="{{ page.url }}"><strong>{{ page.date | date_to_rfc822 }}</strong></a>
    {% if page.location %}in <strong>{{ page.location }}</strong>{% endif %}
  </span> &mdash;
  <span>
    tagged under <strong>{{ page.tags | array_to_sentence_string }}</strong>
  </span>
{% if page.description %}
  <blockquote class="narrative">
    {{ page.description | markdownify }}
  </blockquote>
{% endif %}
</section>
