<footer role="group" class="mt1 cb cf" data-track-content>
  <div class="mw7 center">
    {% webmentions %}
    {% include post_related.html %}
    <section class="mv2" id="isso-thread" data-title="{{ page.title }}">
      <noscript class="bg-washed-blue b--navy bw1 b--dashed ph4-ns ph2 cb">
        By enabling JavaScript, you'll be able to <a
          href="/faq/classic-comments">view and post traditional
          comments</a> on this post. However, I'd encourage you to make use of
        <a href="/faq/indieweb#webmentions">WebMentions</a> if you have a
        longer-form post to make and still want to have full control of the
        content.
      </noscript>
    </section>
    {% include post_navigation.html %}
  </div>
  {% include post_lead.html %}
</footer>
{% webmentions_js %}
<script data-isso="//{{ site.isso_host }}/"
        data-isso-css="true"
        data-isso-lang="en"
        data-isso-reply-to-self="true"
        data-isso-require-author="true"
        data-isso-require-email="true"
        data-isso-max-comments-top="10"
        data-isso-max-comments-nested="3"
        data-isso-reveal-on-click="3"
        data-isso-avatar="true"
        data-isso-vote="true" src="//{{ site.isso_host }}/js/embed.min.js"></script>
