<footer role="group" class="post">
  <div class="bg-washed-blue b--navy bw1 b--dotted pa2 mw7">
    <p class="lh-copy">
      <strong>Did you find this interesting?</strong>
      I recommend subscribing to my newsletter for more content and alerts
      when I publish more information. <a href="/newsletter">Learn how</a>.
      <br />
      <strong>Have a project idea?</strong>
      Let's work on it. I'm available for contract work.
      <a href="/work/freelance/">Learn more</a>.
    </p>
  </div>
  {% webmentions %}
  <p class="measure lh-copy dark-gray">
    Thoughts? Comments? Suggestions? Rage posts?<br />
    Send all of that to either
    <a href="https://twitter.com/jackyalcine">@jackyalcine</a> or 
    <a href="mailto:blog@jacky.wtf">e-mail</a>.
  <nav>
    {% if page.previous %}<a class="fl-l mv2 center pa2 dib" href="{{ page.previous.url }}" title="{{ page.previous.name }}">&laquo; Previous</a>{% endif %}
    {% if page.next %}<a class="fr-l mv2 center pa2 dib" href="{{ page.next.url }}" title="{{ page.next.name }}">Next &raquo;</a>{% endif %}
  </nav>
  </p>
</footer>
{% webmentions_js %}
