---
title: Projects - Jacky Alcine
---

%section.intro
  %h1
    Projects
  %p
    In order to keep up the coding practice when not at work,
    I build up stuff that I'd personally like to work with.
    To keep up diversity, I try to work with as many languages as possible, but
    all of my activity could be listed over on my
    <a href="https://github.com/jalcine">GitHub</a>.

  %hr

  %p
    My portfolio is <a href="http://projects.jalcine.me/portfolio.html">available here</a>.

  %p.row
    %h2.subheader.large-5.small-12.columns
      %a{href: "http://projects.jalcine.me/wintermute"}
        Wintermute
    %p.large-7.small-12.columns
      In short, it's my (and a few others) attempt to bring something like
      %a{href: "http://www.youtube.com/watch?v=-KPhqy7ZwHU"}
        this interaction
      to everyday cluster system (more commom than you'd believe. All of the code
      is under the GPL license and hosted on our
      %a{href: "https://github.com/thesii"}
        GitHub
      organization.

  %p.row
    %h2.subheader.large-5.small-12.columns
      %a{href: "http://projects.jalcine.me/vim"}
        Vim
    %p.large-7.small-12.columns
      Don't you just love Vim? I do! I make use of it for all of my text editing needs.
      Because of that, I figured that some of the projects and code I'd like to work on 
      should be capable and done via Vim. Check out the
      %a{href: "https://projects.jalcine.me/vim"}
        Vim project page
      to see what's my latest project.
