---
title: "Look Ma, My Work - Jacky Alciné"
layout: minimal
---
%section.welcome
  %h1 My Portfolio
  %p This portion of my website is expected to grow over time.

#item_container
  %a.item{href: "http://hudatestprep.com"}
    %img{src:"/images/portfolio-huda.png"}
  %hr
