---
layout: default
title: "Press"
---

%h1 Press
:markdown
  The following information is provided as a cut-and-paste resource for
  media professionals, and other interested parties. Please feel free to
  use it as-is without checking with me first. If you have additional
  questions, you can [contact me directly][1]

  [1]: /contact/

%h3 Quippy Bio
:markdown
  **Jacky Alciné** is a versatile software engineer focused on Web and UNIX
  platform.

%h3 Longer Bio
:markdown
  **Jacky Alciné** is a software engineer that works with Web platforms
  leaning towards the back end platform. He works, however, as a full-stack
  web developer very eager to experiment with new technologies whilst remaining
  very partial with providing platform support to as many users as possible. He
  also tinkers with technology that bridge the Web to physical hardware.

%h2 Images
I'd prefer for the provided image of myself to be used.
:markdown
  ![It's me again](/images/me.jpeg)
