---
layout: default
title: "Press"
---

%h1 Press
%p
  The following information is provided as a cut-and-paste resource for
  conference organizers, media professionals, and other interested
  parties. Please feel free to use it as-is without checking with me
  first. If you have additional questions, you can contact me directly.
