header {
  position: fixed;
  top: 0em;
  left: 0em;
  display: inline;
  width: 100%;
  z-index: 200;

  nav {
    > div.wrapper {
      @include grid-row;
      width: 100%;
      margin: 0em auto;

      > div.left {
        @include grid-column($columns: 5, $push: 1);
        text-align: left;

        a.brand {
          float: left;
          padding: 0.5em 1.5em;
        }
      }

      > div.right {
        @include grid-column($columns: 5, $pull: 1);
        text-align: right;

        a {
          background-color: $body-bg;
          border-radius: 50%;
          padding: 0.25em;
          font-size: 1.5em;
          transition: 0.3s color, 0.2s background-color;

          &:hover {
            color: #fff;
            background-color: $periwinkle;
          }
        }
      }
    }
  }
}

div.content {
  @include grid-row;
  margin: 0em auto;
  margin-bottom: 7em;

  > div.landline {
    @include grid-column($columns: 9, $center: true);
  }
}

$size: 128px;
body > img.brand {
  width: $size;
  height: $size;
  position: relative;
  left: auto; top: auto;
  margin: 0em auto;
  display: block;
  border-radius: 50%;
  text-align: center;
  /*margin-bottom: emCalc( -1 * $size );*/
  margin-top: emCalc( $size / 3 );
  border: 0.4em solid rgba($periwinkle, 0.5);

  @media #{$large} {
    margin-top: -1 * ( $size / 4 );
  }
}

body > dl.subnav {
  @extend .sub-nav;
  text-align: center;
  clear: both;
  margin: 0em auto;
  width: 100%;

  dd, dt {
    float: none;
  }

  dd {
    border-right: 1px dotted $periwinkle;
    padding: 0em 0.5em;

    a { 
      transition: 0.3s color;
      &:hover {
        color: #000;
        text-transform: uppercase;
      }
    }

    &:last-child {
      padding-right: 0em;
      border-right: none;
    }
  }
}

footer {
  height: 6em;
  width: 100%;
  position: fixed;
  bottom: 0em;
  left: 0em;
  z-index: 200;
  border-top: 2px solid $periwinkle;

  > section.colophon, > section.contact {
    @include grid-column($columns: 6);
    text-align: center;
    font-weight: 400;
    text-shadow: 2px 2px 5px #333;

    a {
      text-shadow: none;
      color: #555;
      &:hover { color: #000; }
    }
  }
}


