$body-bg: #efefef;
$body-font-color: #222;
$periwinkle: #ccccff;

header {
  border-top: 0.25em solid $periwinkle;
  > nav {
    div.left {
      > a.brand {
        color: #fff;
        background-color: $periwinkle;
        transition: 0.3s color, 0.3s background-color;

        &:hover {
          color: $periwinkle;
          background-color: #fff;
        }
      }
    }

    div.right {
    }
  }
}

footer {
  background-color: shade($periwinkle, 30%);
  color: #dedede;
}
