---
layout: bare
title: jackyalciné
classes: "index"
---
%section{role: :main}
  %h1 jackyalciné
  %img.head{src: 'https://secure.gravatar.com/avatar/80a10e58c35275ddb7a8e681f277e474.png?s=512', alt: 'Picture of Jacky'}
  %p What it do? Talk to me!
  %ul
    %li
      %a{href: '/about'} About
    %li
      %a{href: '/weblog'} Blog
    %li
      %a{href: '/connect'} Connect
  %small
    est. 2009
    &mdash;
    %code
      A1A5 A0EB B69F 23AE 67B6  F914 2A23 4ABC
      %b 6E76 7393
