---
layout: default
title: jackyalciné
classes: "index"
---

%section{role: :intro}
  %h1 Jacky
%section{role: :blurb}
  Welcome. I talk a lot in person and you'll catch me doing the same here, 
  on IRC and in real life. <b>Deal with it</b>.
