div.blog {
  @include grid-row;
  padding-bottom: 5em;

  hr.article { margin-bottom: 1em; }

  section.content {
    @include grid-column($columns: 8);

    div.pagination {
      height: 1.5em;
      line-height: 1.5em;
      padding: 0.5em 1em;
      margin-bottom: 2em;
      text-align: center;

      a.prev { @extend .pull-left }
      a.next { @extend .pull-right }
    }

    article {
      h2:first {
        margin-bottom: 0em;

        &:before {
          content: "\203a";
          color: #4185f6;
        }

        a { 
          color: #222;
          transition: color 0.4s;
          &:hover { color: #378ec9; }
        }
      }

      div.content {
        padding: 1em 0.5em;
        line-height: 1.2em;
        text-align: justify;
        width: 100%;
        margin: 0em;
        padding-bottom: 0em;

        p {
          img { width: 100%; }
        }
      }

      div.controls {
        height: 3em;
        line-height: 3em;
        margin-bottom: 1em;
        clear: both;

        span.categories, span.read-more, span.time, time { text-align: center; }

        time, span.time { 
          &:before {
            font-family: "FontAwesome";
            content: "\f017";
            margin: 0.2em;
          }

          font-size: 1em;
        }

        span.categories {
          &:before {
            font-family: "FontAwesome";
            content: "\f02c";
            margin: 0.2em;
          }
        }
      }

      p.navigation {
        clear: both;
        a.pull-left, a.pull-right {
          &:before, &:after { font-family: "FontAwesome"; margin: 0em 1em; }
          margin: 0em 5em;
        }

        a.pull-left:before { content: "\f053"; }
        a.pull-right:after { content: "\f054"; }
      }

      padding-bottom: 10px;
      border-bottom: 2px solid #aaa;
      &:last-child { border-bottom: none; padding-bottom: 0em; }

      &.full {
        div.controls {
          a.permalink { @include grid-column($columns: 6); }
          span.time { 
            @include grid-column($columns: 6);
            font-size: 1em;
          }
        }
      }

      &.excerpt {
        a.permalink, span.read-more, span.time { @include grid-column($columns: 4); }
      }
    }

  }

  section.sidebar {
    @include grid-column($columns: 4);
  }
}
