$background-color: #ddd;
$foreground-color: #222;
$marginal-background-color: #333;
$marginal-foreground-color: #ddd;
$link-color: #00f;

body {
  background-color: #ddd;
  background-image: url("/images/background.png");
  background-position: fixed;
  color: #222;

  > header[role=banner], > footer[role=banner] {
    background-color: rgba(51, 51, 51, 0.8);
    transition: background-color 0.8s;
    @include box-shadow(rgba(30, 30, 30, 0.4) 0 0 25px, rgba(90,90,90, 0.2) 0 0 3px 1px inset); 

    &:hover {
      background-color: rgba(black, 1.0);
    }
  }

  a {
    color: blue;
    &:hover { color: red }
  }

  &.blog {
    > div.content {
      /*background-color: #999;*/

      > div.primary {
        background-color: #fff;
      }

      > div.sidebar, aside.sidebar {
      }
    }
  }
}
