@import "compass/css3/images";

body > header {
  @include grid-row;
  height: 40%;
  max-height: 10em;
  background-image: image-url("header-wide.jpg");
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: #000;
  margin: 0em; padding: 0em;
  width: 100%;
  max-width: none;
}

body {
  div.fixed.sticky > nav.top-bar > ul.title-area > li.name > h1 > a > img.me 
  {
    margin: 0em;
    width: auto;
    height: 5em;
    border-radius: 25%;
    @extend .bounce;
    @extend .animated;
  }
  
  nav.top-bar {
    box-shadow: 0px 4px 6px #222;
    border-bottom: 5px solid #4185f6;
    padding: 0em 10%;

    ul.title-area > li.name > h1 {
      a {
        img.me {
          background-color: #222;
          border-radius: 50%;
          box-shadow: 0px 4px 10px #222;
          border: 2px solid #222; 
          margin-top: -5.5em;
          margin-right: 1em;
          height: 10em;
          width: 10em;
          transition: 0.5s margin-top, 0.3s margin-left, 0.3s height, 0.3s width, 0.4s border-radius;
          @extend .animated;
          @extend .bounce;
        }

        &:hover {
          @extend .tada;
        }
      }
    }

    section.top-bar-section {
      ul.left {
        li > a > i[class*=icon] { color: #ddd; }
        li > a {
          transition: font-size 0.3s;

          &:hover { font-size: 1.4em; }
        }
      }

      ul.right {
        li > a > i { 
          color: #fff;
          font-size: 2em;
          position: relative;
          top: 0.25em;
          transition: color 0.3s;
        }

        li { 
          &:nth-child(2) { a:hover > i { color: #aaa; } }
          &:nth-child(3) { a:hover > i { color: #4099FF; } }
          &:nth-child(4) { a:hover > i { color: #C63D2D; } }
          &:nth-child(5) { a:hover > i { color: #3d962f; } }
        }
      }
    }
  }
}
