body.index {
  text-align: center;

  h1.hi {
    line-height: 4em;
    font-size: 4em;
  }

  div.links-social {
    a{
      color: $foreground-color;
      text-decoration: none;
      transition: color 0.4s;
    }

    a:nth-child(1) { &:hover { color: #3B5998; } }
    a:nth-child(2) { &:hover { color: #4099FF; } }
    a:nth-child(3) { &:hover { color: #4875B4; } }
    a:nth-child(4) { &:hover { color: #000000; } }
    a:nth-child(5) { &:hover { color: #C63D2D; } }

    font-size: 2.4em;
  }

  div.content {
    -webkit-animation-delay: 1s;
    -webkit-animation-name: welcome;
    -webkit-animation-duration: 2s;
  }

}
@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  82.5% {
    -webkit-transform: scale(1.6);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    -webkit-transform: scale(1);
  }
}
