/***
 * Dimensions: 1366 x 768
 * Font-size: 20px;
 */

@import "compass/utilities/general/min";

$marginal-height: 2.5em;
$marginal-border: 1px solid transparent;

body {
  @include container;
  margin: auto;
  padding: 0em;

  // Nothing should get in the way.
  > header[role=banner], > footer[role=banner] { 
    @include span-columns(12);
    @include set-container-width;
    @include min-height($marginal-height);
    display: inline-block;
    z-index: 999;
    clear: both;
    position: fixed;
    left: 0em;
    right: 0em;

    &:before, &:after {
      content: "";
    }
  }

  header[role=banner] {
    top: $marginal-height/-3 * 2;
    transition: top 0.4s, border-bottom-color 0.2s;
    border-bottom: $marginal-border;


    &:hover {
      top: 0em;
      border-bottom-color: #aaa;

      nav[role=navigation] {
        @include opacity(1);
      }
    }

    nav[role=navigation] {
      @include opacity(0.4);
      @include span-columns(8);
      @include squish(2,2);
      @include min-height($marginal-height);
      height: $marginal-height;
      text-align: center;

      ul {
        list-style: none;
        margin: 0em;
        padding: 0em;

        li {
          display: inline-block;
          margin-right: 0.5em;
          padding: 0em;
          margin: 0em;

          &:first-child {
            vertical-align: middle;

            img {
              height: $marginal-height * 2;
              width: $marginal-height * 2;
              vertical-align: middle;
              margin-right: 0.2em;
              border-radius: 50%;
              background-color: $marginal-background-color;
              margin-top: -1em;
              border: 1px solid $marginal-background-color;
              float: left;
            }

            a { 
              font-family: $serif-font-family;
              overflow: hidden;

              &:hover {
                background-color: #fff;
                color: #000;
              }
            }
          }

          &:nth-child(even) {
            a {
              &:hover {
                color: red;
              }
            }
          }

          &:nth-child(5) { a {
              &:hover {
                color: #4099ff;
              }
            }
          }

          a {
            display: block;
            @include min-height($marginal-height);
            height: $marginal-height!important;
            line-height: $marginal-height!important;
            padding: 0em 0.5em;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            transition: background-color 0.5s;
            border-left: $marginal-border;
            border-right: $marginal-border;
            transition: color 0.3s, border-color 0.3s;

            &:hover {
              color: orange;
              background-color: #555;
              border-left-color: #fff;
              border-right-color: #fff;
            }

          }
        }
      }
    }

    a.sidebar {
      @include span-columns(1 omega, 12);
      @include min-height($marginal-height);
      height: $marginal-height;
      background-color: blue;
      color: white;
      line-height: $marginal-height;
      text-align: center;
      text-decoration: none;
    }
  }

  footer[role=banner] {
    @include span-columns(12);
    @include set-container-width;
    bottom: $marginal-height/-3 * 2;
    transition: bottom ease-in-out 0.4s, border-top-color 0.2s;
    border-top: $marginal-border;

    &:hover {
      bottom: 0em;
      border-top-color: #aaa;
    }

    div.copyright, div.extra {
      @include span-columns(3, 12);
      font-size: 0.75em;
      line-height: $marginal-height * (4/3);
      transition: color 0.2s;
      a { color: inherit; text-decoration: none; }

      &:hover {
        color: #fff;

        a { color: $link-color; text-decoration: underline; }
      }
    }

    div.copyright { float: left; text-align: right; }
    div.extra     { float: right; }
  }
  // Define the content's spacing and layout itself.
  > div.content {
    @include span-columns(10);
    @include squish(1,1);
    @include set-container-width;

    > div.banner {
      @include span-columns(12);
      clear: both;
      border-bottom: 2px rgba(51,51,51,0.8) solid;
      text-align: center;
      background-color: $background-color;

      > h1.post-title {
        line-height: 2em;
        font-size: 2em;
        margin: 0em;

        > small {
          margin-left: 2em;
          display: inline-block;
          position: relative;
          top: -0.25em;
        }
      }
    }
  }
}
