$total-columns: 12;
$column-width: 4em;
$gutter-width: 0em;
$grid-padding: 1em;
$container-style: fluid;

@import "susy";
@import "layout.screen";
@import "layout.mobile.potrait";
@import "layout.mobile.landscape";

