@import "compass/utilities/general/min";

$marginal-header-height: 2em;

body {
  header {
    height: $marginal-header-height;
    @include min-height($marginal-header-height);
    max-height: $marginal-header-height;
    @include set-container-width;
    overflow: hidden;
  }
}
