html { width: 100%; height: 100%; }

$gutter-width: 1.4em;

body.minimal {
	background-color: $periwinkle;
	color: #333;
	display: table;
	width: 100%; height: 100%;
	font-size: $gutter-width;

	> section.left, > section.right {
		vertical-align: middle;
		height: 100%;
		display: table-cell;
		vertical-align: middle;

		> div.wrap {
			margin: 0em auto;
			height: 50%;
			margin: 20% 0em;
		}
	}

	> section.left {
		background-color: #fff;
		color: #000;
		text-align: right;
		width: 30%;
		position: fixed;

		> div.wrap {
			padding-right: $gutter-width;
			height: 60%;
			margin: 20% 0em;

			ul > li > a { font-size: 1.2em; }
		}

		h1.brand { 
			font-size: 5.5em;
			margin: 0em;
		}
	}

	> section.right {
		text-align: left;
		width: 70%;
		padding-right: 10%;

		> div.wrap {
			padding-left: 3em;
			height: 90%;
			margin: 0em;

			p.caps {
				font-variant: small-caps;
				font-size: 2em;
				margin: 0em;
			}
		}
	}

	&.index {
		section.right {
			width: 70%;

			> div.wrap {
				height: 50%;
				margin: 25% 0em;
			}
		}
	}
}
