@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import "settings";
@import "animations";
@import "header";
@import "blog";

html, body { 
  height: 100%; width: 100%;
  font-family: "Roboto Slab", Helvetica;
}

body {
  section.footer {
    border-top: 5px solid #4185f6;
    background-color: #222;
    color: #eee;
    height: 4em;
    padding: 0.25em 0.5em;
    line-height: 3em;
    margin: 0em;
  }
  padding: 0em; margin: 0em;
}
