!!! 5
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{:lang => "en"}
  /<![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= data.page.title || "Jacky Alcine"
    = stylesheet_link_tag "main"
  %body{:class => page_classes}
    %header
      %nav
        %div.wrapper
          %div.left
            %a{href: "/", class: "brand"} jalciné
          %div.right
            %a{:href => "https://twitter.com/jackyalcine"}
              %i.icon-twitter
            %a{:href => "https://alpha.app.net/jackyalcine"}
              %i.icon-adn
            %a{:href => "https://github.com/jalcine"}
              %i.icon-github-alt
    %img.brand{src: "//gravatar.com/avatar/80a10e58c35275ddb7a8e681f277e474?s=512"}
    %dl.subnav
      %dt Go:
      %dd
        %a{href: "http://home.jalcine.me"} <i class="icon-home"></i> Home
      %dd
        %a{href: "http://blog.jalcine.me"} <i class="icon-book"></i> Blog
      %dd
        %a{href: "http://home.jalcine.me/work.html"} <i class="icon-cog"></i> Work
      %dd
        %a{href: "http://projects.jalcine.me"} <i class="icon-beaker"></i> Projects
    %div.content
      %div.landline
        = yield
    %footer
      %section.colophon
        %p
          Jacky Alciné <br>
          A duded with a laptop <br>
          me@jalcine.me
      %section.contact
    = javascript_include_tag "app"
