!!! 5
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{lang: "en"}
  /<![endif]
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= data.page.title || "Jacky Alcine"
    %script{type: "text/javascript"}
      var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
      analytics.load("se6rauh0mx");
      analytics.track("on home site");
    = stylesheet_link_tag "main"
  %body{:class => page_classes + " minimal"}
    %section.left
      %div.wrap
        %img.self{src: "http://gravatar.com/avatar/80a10e58c35275ddb7a8e681f277e474?s=420"}
        %h1.brand
          %a{href: "/"} jalcine
        %ul
          %li.blog
            %a{href: "http://blog.jalcine.me"}
              thoughts
              %i.icon-book
          %li.projects
            %a{href: "/projects/"}
              projects
              %i.icon-beaker
          %li.about
            %a{href: "/about.html"}
              about
              %i.icon-male
          %li.work
            %a{href: "/work.html"}
              work
              %i.icon-beer
          %hr
          %li.github
            %a{href: "https://github.com/jalcine"}
              jalcine
              %i.icon-github-alt
          %li.twitter
            %a{href: "https://twitter.com/jackyalcine"}
              @jackyalcine
              %i.icon-twitter
        %small.hide-for-small
          this is project <b>mini</b>. <a href="http://blog.jalcine.me/2013/07/27/project-mini.html" target="_blank">what?</a>
    %section.right
      %div.wrap
        = yield
    = javascript_include_tag "app"
