body.about
  main[role=main]
    max-width: $page-max-width
    margin: 0rem auto
    display: block

    img.me
      margin: 0.125rem auto
      max-height: 20rem
      border-radius: 60%
      display: block
      vertical-align: baseline

    a
      font-weight: 700

    @media #{$desktop}
      &
        max-width: ($page-max-width * 0.8)

        img.me
          float: right
          margin: 1rem
          min-height: 20rem
          height: 10rem
          clear: auto
