body.about
  section[role=main]
    max-width: ($page-max-width * 0.6)
    margin: 0rem auto

    img.me
      float: right
      margin: 0rem 2rem
      height: 200px
      border-radius: 50%

    a
      font-weight: 700
