body.about
  main[role=main]
    img
      margin: 0.125rem auto
      display: block

    img.me
      max-height: 16rem
      border-radius: 60%
      vertical-align: baseline

    a
      font-weight: 700

    @media #{$desktop}
      &
        max-width: ($page-max-width * 0.8)

        img.me
          float: right
          margin: 1rem
          min-height: 20rem
          height: 10rem
          clear: auto
