*
  box-sizing: border-box

html, body
  margin: 0px
  padding: 0px
  height: 100%
  width: 100%

body
  background-color: darken($white, 3%)
  color: $black
  display: flex
  min-height: 100vh
  +flex-flow(column)
  +align-content(flex-end)

html
  overflow-y: scroll

a
  color: $navy
  text-decoration: none

  strong
    color: inherit

  &:hover,
  &:focus
    text-decoration: underline

section[role=main]
  flex: 15
  max-width: $page-max-width
  margin: 0rem auto
  padding-top: $header-height

  p, blockquote, ul, li, dd,
  h1, h2, h3, h4, h5, h6, img
    max-width: $page-max-width
    margin: 0.5rem auto
