*
  box-sizing: border-box

html, body
  margin: 0px
  padding: 0px

body
  background-color: $background-color
  color: $foreground-color
  display: flex
  flex-direction: column
  min-height: 100vh
  +flex-flow(column)
  +align-content(flex-end)

html
  overflow-y: auto

main[role=main]
  order: 2
  flex: 1 0 auto
  width: 100%
  margin: 0rem auto
  padding: 0.2rem 0.75rem 0rem 0.75rem

  @media #{$desktop}
    &
      max-width: $page-max-width

  p, li
    line-height: 1.8
    font-size: 1.2rem

+keyframes(header_float_in)
  from
    top: $header-height / 3

  to
    opacity: 1
    top: 0rem

header[role=main]
  order: 1
  opacity: 0
  position: relative
  flex: 0 0 0
  +prefix-property(animation, header_float_in 0.5s ease)
  +prefix-property(animation-fill-mode, forwards)
  +prefix-property(animation-delay, 0.5s)

img.image-half
  width: 45%
  margin: 0rem 1.25%
