*
  box-sizing: border-box

html,
body
  margin: 0px
  padding: 0px

body
  background-color: darken($white, 3%)
  color: $black

  @media (min-width: #{$page-max-width})
    &
      min-height: $page-max-width * 0.75

html
  // This prevents that little page jump from happening.
  overflow-y: scroll 

a
  color: $navy
  text-decoration: none

a strong
  color: inherit

a:hover,
a:focus
  text-decoration: underline

nav > ul
  display: inline-block
  float: right
  height: $text-font-size * 1.8

  @media (max-width: #{$page-max-width})
    &
      display: block
      width: 100%
      text-align: center

  li
    list-style: none
    line-height: $text-font-size * 1.8
    display: inline-block
    padding: 0.2rem 0.5rem

section[role=main]
  max-width: $page-max-width
  margin: 0.5rem auto
