footer[role=main]
  order: 3
  background-color: $black
  color: $background-color
  padding: 0.8rem 0.5rem
  text-align: center
  text-transform: uppercase
  min-height: 3rem

  span
    display: block

  a, a:active
    color: lighten($link-color, 30%)
