footer[role=main]
  order: 3
  display: flex
  background-color: $black
  color: $gray
  font-size: 0.8rem
  padding: 0.5rem 2rem
  width: 100%
  min-height: $header-height

  a
    color: $gray

  p.center
    text-transform: uppercase
    padding: 0.1rem
    margin: 0rem auto
    max-width: $page-max-width
    text-align: center

    @media (max-width: #{$tablet-screen})
      & > span
        clear: both
        display: block
        visibility: hidden
