header[role=main] > nav
  padding: 0.1rem
  margin: 0.8rem auto 1.2rem
  max-width: $page-max-width

  @media (max-width: #{$page-max-width})
    &
      text-align: center

  h1
    margin: 0rem
    display: inline-block
    font-size: $text-font-size * 1.8

  span.lead
    display: inline-block
    color: $gray
    font-size: $text-font-size * 0.8
    position: relative
    top: $text-font-size * -0.3
    left: 10px
