img
  display: inline-block

  &.center
    margin: 0rem auto

figure.captioned-image
  display: block
  margin: 0rem 0.5rem
  width: 100%

  @media #{$desktop}
    &
      width: auto

  > img
    margin: 0rem auto
    display: block

  > figcaption
    display: block
    font-size: small
    text-align: center
    text-transform: uppercase
    margin-top: 0.5rem
