body.index
  p img.inline
    margin-bottom: -0.1rem
    margin-left: 0.2rem

  section[role=main]
    p:nth-child(n+1)
      font-size: 2rem
      line-height: 1.2

    p:nth-child(2), p:nth-child(3)
      color: darken($gray, 40%)
