$title-background-image: "https://farm4.staticflickr.com/3953/15556142996_a7851a86f1_k.jpg"


body.index
  height: 100%

  header[role=main]
    background-color: transparent
    animation: index_header_fadein 0.5s ease
    animation-fill-mode: forwards
    transform: color 0.75s
    color: $gray

    hgroup
      display: none

    &:hover
      color: $black

      nav li a
        color: $gray

        &:hover
          background-color: $black
          color: $white

  section[role=main]
    display: flex
    +flex-flow(row wrap)
    justify-content: space-around
    align-content: space-between
    height: 100%
    width: 100%

    @media #{$not-desktop}
      &
        max-width: 100%

    > section
      display: flex
      +flex-flow(column wrap)
      width: 100%
      min-height: 80%
      padding: 0.5rem 0rem
      align-content: center
      align-items: center

      &[role=title]
        background-color: $black
        background-image: url(#{$title-background-image})
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        color: $white
        min-height: calc(100% - #{$header-height})
        +flex-flow(column)
        +justify-content(center)

        $shadow-color: rgba(0,0,0,0.6)

        h1
          color: lighten($gray, 40%)
          background-color: $shadow-color
          box-shadow: 2px 2px 2px $shadow-color
          padding: 0.6rem 0.9rem

        p.lead
          align-self: flex-end
          background-color: $shadow-color
          box-shadow: 2px 2px 2px $shadow-color
          padding: 1.2rem 1.8rem
          font-size: 2rem
          max-width: 70%
          text-align: center

          @media #{$mobile}
            &
              max-width: 100%
              padding: 0.4rem 0.6rem
              background-color: $black
              font-size: 1.5rem
              box-shadow: none

      @media #{$not-desktop}
        &
          +flex-flow(column wrap)
          h1, p
            box-shadow: none

      &[role=collage]
        +flex-flow(row wrap)
        background-color: lighten($black, 10%)
        color: $white

        p.lead
          font-size: 2.75rem
          text-align: center
          max-width: 80%

        p.photostrip
          display: flex
          +flex-flow(row nowrap)
          justify-content: space-between
          align-items: center
          max-width: none
          padding: 0rem 1rem

          &:hover
            a
              opacity: 0.5

          a
            transition: opacity 0.2s ease

            &:hover
              opacity: 1

          img
            max-width: 20rem
            margin: 0.125rem

          @media #{$not-desktop}
            &
              +flex-flow(column nowrap)
              justify-content: space-between

              img
                max-height: 30rem
                width: 100%

      &[role=map]
        background-color: $black
        padding: 0rem

      &[role=work]
        display: flex
        +flex-flow(column nowrap)
        background-color: darken($red, 40%)
        color: $white
        justify-content: center
        text-align: center

        p.lead
          a[href*="shutterstock"]
            color: $red

        div
          display: flex
          +flex-flow(column nowrap)
          justify-content: space-between
          align-items: center

          a
            text-align: center

            img
              clear: both
              max-width: 20rem
              min-width: 8rem

      &[role=promotions]
        display: flex
        +flex-flow(row wrap)
        justify-content: center
        text-align: center
        min-height: 50%

        aside.left
          max-width: 30%

        aside.right
          max-width: 50%

          p.lead
            margin: 0rem auto
            font-size: 1rem

          p.lead ~ p
            display: flex
            +flex-flow(row nowrap)
            align-items: space-between
            justify-content: space-between

          a
            margin: 0.25rem

          a:hover
            text-decoration: none

          a > i[class^="icon-"]
            font-size: 2rem
            margin: 0.5rem

        @media #{$not-desktop}
          &
            +flex-flow(column nowrap)

            aside.left, aside.right
              max-width: 90%

            aside.right > hr
              transform: none
              width: 100%
              margin: 2rem auto
              float: none


  footer[role=main]
    display: inline-flex
    clear: both

    &::before, &::after
      display: table
      clear: both
      content: ' '

#mapWhereIBeAt
  min-height: 10rem
  width: 100%

  div.leaflet-map-pane
    width: 100%

  div.leaflet-overlay-for-jacky
    font-size: 2rem
    color: $black

@keyframes index_header_fadein
  0%
    opacity: 1.0

  100%
    opacity: 1.0
    position: fixed
    z-index: 9999
    background-color: $black

