$navigation-link-color: mix($link-color, $background-color, 80%)

header[role="main"] > nav[role="main"]
  @media print
    &
      display: none

  > ul
    display: flex
    list-style: none
    flex-direction: row
    align-items: center
    justify-content: center

    li
      margin: 0rem 0.2rem
      list-style: none

      a
        align-items: center
        transition: all 0.3s
        padding: 0.5rem 0.75rem
        display: inline-flex
        text-decoration: none
        border-radius: 0.25rem
        font-size: 0rem
        line-height: 1.5rem
        color: $navigation-link-color

        @media #{$desktop}
          &
            font-size: 1rem

        &:hover
          color: $white
          background-color: $navigation-link-color

        i
          font-size: 1.5rem
          margin: 0.2rem
          margin-right: 0.5rem
