body.pagination > section[role=pagination]
  section[role=entries]

    dl
      margin: 0rem auto

      dd > time
        color: $gray

      dt a
        position: relative

        &:hover
          text-decoration: none

        p:before
          transition: all 0.3s
          font-family: 'icomoon'
          content: '\e601'
          margin-left: -2.0rem
          margin-right: 0.5rem
          position: relative
          top: 0.25rem
          color: transparent

        &:hover p:before
          color: $black
