body.post > main[role=main]
  text-align: left

  header[role=post]
    padding-top: 0rem
    text-align: left
    margin-top: 1.5rem

    h1.title
      line-height: 1.1
      text-align: left
      +ghostly

      a
        text-decoration: none

      @media #{$desktop}
        &
          text-align: center

    &.linked > h1.title > a
      text-decoration: underline

    h3.byline
      +ghostly
      color: darken($silver, 30%)
      font-size: 1.2rem
      font-weight: $font-weight-bold

      @media #{$desktop}
        &
          text-align: center

    &.image
      border-top-left-radius: 1em
      border-top-right-radius: 1em
      display: flex
      min-height: 45vh
      flex-direction: column
      justify-content: flex-end
      background-repeat: no-repeat
      background-position: center bottom
      background-size: cover
      margin-top: 0.5rem

      h1
        background-color: rgba($black, 0.5)
        padding: 0.5rem 0.5rem 0rem

        a
          color: $white

  footer[role=post]
    margin: 2rem auto
    padding: 0rem 1rem
    font-size: 0.8rem
    color: lighten($foreground-color, 20%)
    text-align: left

    p#comments
      text-align: center
      border: 1px solid lighten($foreground-color, 20%)
      background-color: lighten($background-color, 25%)
      padding: 0.5rem 1rem
      font-weight: $font-weight-bold
      width: 70vw
      margin: 0rem auto
      border-radius: 4px

      @media #{$desktop}
        &
          width: 50vw

    @media #{$desktop}
      &
        width: 80%

  a
    text-decoration: underline

  video
    margin: 0rem auto
    border: 2px solid $foreground-color
    width: 100%

  p
    line-height: 1.8


    > img
      margin: 0rem auto
      max-width: 100vh
      display: block

      &.emoji
        margin: 0rem
        margin-top: -0.3rem
        vertical-align: middle
        width: auto
        max-width: auto
        height: 1.25rem
        display: inline

  ul, ol
    margin: 1.25rem 2.5rem

  ul > li
    list-style: square

  section[role=stats]
    text-align: center
    font-size: 0.7rem
    margin-bottom: 2rem
    margin-top: 1rem
    color: $black

  blockquote.response
    border: none
    font-size: 1.2rem
    color: lighten($foreground-color, 30%)
    max-width: 60%
    margin: 0rem auto

  main[role=post]
    margin: 0rem auto
    max-width: $page-max-width * 0.9

    > p
      margin: 1rem 0rem
      line-height: $text-line-height * 1.5
      text-align: left

      h1, h2, h3, h4, h5, h6
        padding-top: 1.5rem

    div.embed
      display: flex
      justify-content: center

    a.footnote
      text-decoration: none
      font-weight: bold
      color: $link-color

    div.footnotes
      margin: 2rem 0.75rem 2rem
      text-align: left

      a.reversefootnote
        text-decoration: none
        font-weight: $font-weight-normal

      li, li > p
        font-size: 0.9rem

body.post.response
  main[role=post]
    blockquote
      border-left: none
      margin: -3rem auto
      max-width: 85%
      color: darken($background-color, 40%)
      font-size: 1.2rem
      background-color: $silver

      &:before, &:after
        font-size: 3rem
        display: inline
        position: relative

      &:before
        content: "“"
        right: 2rem
        top: 3rem

      &:after
        content: "”"
        right: -100%
        top: -3rem
