body.post > main[role=main]
  text-align: justify
  min-height: 10rem

  header[role=post]
    padding-top: 0rem

    h1
      text-align: center
      font-size: 1.5rem
      line-height: 1.2
      +ghostly

      @media #{$tablet}
        &
          font-size: 2.25rem

      @media #{$desktop}
        &
          font-size: 3rem

    p.links
      margin: 0.2rem auto
      text-align: center
      font-size: 1rem

      a
        text-decoration: none

  footer[role=post]
    margin: 2rem auto
    padding: 0rem 1rem
    font-size: 0.8rem
    color: lighten($foreground-color, 20%)
    text-transform: uppercase

    @media #{$desktop}
      &
        width: 50%

  a
    text-decoration: underline

  p
    line-height: 1.8

    > img
      margin: 0rem auto
      max-width: $page-max-width
      width: 100%

      &.emoji
        margin: auto 0rem
        vertical-align: middle
        width: auto
        max-width: auto
        height: 1.25rem

  ul, ol
    margin: 1.25rem 2.5rem

  ul > li
    list-style: square

  section[role=stats]
    text-align: center
    font-size: 0.9rem
    margin-bottom: 2rem
    margin-top: 0.5rem

  blockquote.response
    border: none
    font-size: 1.2rem
    color: lighten($foreground-color, 30%)
    max-width: 60%
    margin: 0rem auto

  main[role=post]
    margin: 0rem auto
    max-width: $page-max-width * 0.8

    > p
      margin: 1rem 0rem

      h1, h2, h3, h4, h5, h6
        padding-top: 1.5rem

    div.embed
      display: flex
      justify-content: center

    a.footnote
      text-decoration: none
      font-weight: bold
      color: $link-color

    div.footnotes
      font-size: 0.75rem
      margin: 4rem 0.75rem 2rem
      text-align: left

      a.reversefootnote
        float: right
        text-decoration: none

body.post.response
  main[role=post]
    blockquote
      border-left: none
      margin: -3rem auto
      max-width: 85%
      color: darken($background-color, 40%)
      font-size: 1.2rem

      &:before, &:after
        font-size: 3rem
        display: inline
        position: relative

      &:before
        content: "“"
        right: 2rem
        top: 3rem

      &:after
        content: "”"
        right: -100%
        top: -3rem
