body.resume > main[role=main]
  width: 80vw
  max-width: $page-max-width * 0.8

  header.resume
    margin: 0rem auto
    padding: 1rem auto 0rem
    width: 100%
    text-align: center

    blockquote.alert
      background-color: mix(lighten($red, 10%), $white)
      color: $black
      text-align: left
      border: 0.1rem solid $gray
      width: 60%
      margin: 1rem auto

    h1
      font-size: 300%
      line-height: 1

      @media #{$mobile}
        &
          font-size: 200%

    p
      font-size: 0.8rem
      color: darken($gray, 20%)
      line-height: 1.1
      width: 70%
      text-align: justify
      margin: 0rem auto

      @media #{$mobile}
        &
          width: 100%

      @media #{$tablet}
        &
          width: 100%

      strong
        color: $black

      &.links
        text-align: center
        line-height: 1.9rem

  @media #{$mobile}
    &
      width: 100%
      max-width: none

  @media #{$tablet}
    &
      width: 100%
      max-width: $page-max-width

  nav
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin: 1rem auto 0rem

    ul
      list-style: none

      li
        display: inline-block
        margin: 0rem auto

        &:after
          content: '\2012'
          color: $gray

        &:last-child:after
          content: ''

  main.resume
    section.year
      border-bottom: 1px solid $gray
      padding: 0.5rem 0rem 1rem
      min-height: 25vh
      justify-content: center
      display: flex
      flex-direction: row

      @media #{$mobile}
        &
          flex-direction: column

          h2
            font-size: 3em

      h2
        min-width: 4em
        text-align: center
        font-family: $text-font-family
        margin: 0rem

      h3
        margin: 0rem
        color: darken($gray, 30%)

      h4
        margin-top: 0.5rem

      &:last-child
        border-bottom: none

      section.position
        margin: 0.3em 0em 0.2em
        span
          color: $gray

        ul
          list-style: none
          margin: 0rem 0rem 0rem 0.5rem
          width: 100%

          li
            font-size: 80%
            display: inline-block
            padding: 0.3rem 0.5rem
            margin: 0.125rem
            background-color: darken($blue, 10%)
            color: $white
            border-top-right-radius: 0.4rem
            border-bottom-left-radius: 0.4rem

            &.lead
              color: darken($gray, 20%)
              background-color: transparent
              font-weight: bold
              text-transform: uppercase
              font-size: 90%
