body.timeline > main[role=main]
  width: 100%
  max-width: none
  margin-left: 0rem
  margin-right: 0rem

$pin-width: 1.8rem
$pin-fill: #1A1451
$pin-gutter-width: $pin-width * 1/3
$pin-track-height: 3.6rem
$pin-track-width: $pin-width - $pin-gutter-width
$pin-track-fill: lighten($pin-fill, 20%)

@keyframes push-pin-glow
  0%
    background-color: $pin-fill
    border-color: lighten($pin-fill, 20%)
  100%
    background-color: lighten($pin-track-fill, 40%)
    border-color: lighten($pin-track-fill, 40%)

main[role=timeline]
  width: 100%
  background-color: $background-color

  > section.event
    transition: 0.3s all
    margin: 0.8rem auto $pin-track-height auto
    border-bottom: 1px solid darken($background-color, 20%)
    border-radius: 0.125rem
    padding: 0rem 1rem 1.5rem 1rem
    width: 40rem

    &:hover
      border-color: $pin-track-fill

      h3
        box-shadow: 1px 1px 5px 0px $pin-track-fill

      &::before
        animation-name: push-pin-glow
        animation-timing-duration: ease-in
        animation-iteration-count: infinite
        animation-direction: alternate
        animation-duration: 1s

    &::before,
    &::after
      content: '\00A0'
      display: block

    &:first-child::before,
    &:last-child::after
      content: ''
      display: none

    &:first-child > h3
      margin-top: 0rem

    // Serves as the thumbtack that sticks to the timeline.
    &::before
      width: $pin-width
      height: $pin-width
      left: 50%
      top: $pin-width * -1.5
      margin-left: $pin-width * -0.5
      background-color: $pin-fill
      border: 0.2rem solid lighten($pin-fill, 20%)
      border-radius: $pin-width * (5/6)
      position: relative
      display: block
      box-shadow: none

    // Serves as the path that the timeline travels on.
    &::after
      position: absolute
      left: 50%
      margin-top: calc(1.5rem + 1px)
      margin-left: $pin-gutter-width * -1
      background-color: $pin-track-fill
      height: $pin-track-height
      width: $pin-track-width
      border: ($pin-gutter-width / 2) solid darken($pin-track-fill, 5%)
      border-top-width: 0rem
      border-bottom-width: 0rem

    > p
      max-width: 60rem

    > h3
      transition: 0.3s box-shadow
      max-width: 60rem
      margin: ($pin-width * -1) auto 1rem auto
      padding: 0.5rem
      text-align: center
      background-color: $pin-fill
      border-bottom-left-radius: $pin-width / 2
      border-bottom-right-radius: $pin-width / 2
      border-top-left-radius: $pin-width / 4
      border-top-right-radius: $pin-width / 4

      > a
        text-decoration: none
        color: $white
