html
  font-size: 16px
  line-height: $text-line-height

  body
    font-family: $text-font-family
    font-weight: inherit

  pre, code
    font-family: $mono-font-family

  h1, h2, h3, h4, h5, h6
    font-family: $header-font-family

  &.wf-loading, &.wf-inactive, &
    font-family: $failsafe-font-family

body
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

h1, h2, h3, h4, h5, h6
  margin-bottom: .5rem
  font-weight: 900
  line-height: 1.25
  color: lighten($black, 5%)
  text-rendering: optimizeLegibility

  &.center
    text-align: center

  &.skinny
    margin-top: 0.5rem

h1
  font-size: 2.5rem

  &.lead
    font-size: 4rem

h2
  font-size: 2rem
  margin-top: 1rem

h3
  font-size: 1.75rem
  margin-top: 1.5rem

h4, h5, h6
  font-size: 1.5rem
  margin-top: 1rem

strong, b
  font-weight: 900

em
  font-weight: inherit

ul, ol, dl
  margin-top: 0rem
  margin-bottom: 1.2rem
  list-style: inside

ul > li
  list-style: square

ol > li
  list-style: decimal

hr
  position: relative
  margin: 0.5rem auto
  border-style: solid
  border-color: darken($gray, 5%)
  width: 70%
  color: $foreground-color

  &.spacy
    margin-top: 1.25rem
    margin-bottom: 1.25rem

  &.micro
    width: 30%

  &.vertical
    transform: rotate(90deg)
    width: 10rem
    margin: 10% auto
    float: left
    margin-left: 10%

blockquote
  padding: 0.4rem 1.5rem
  margin: 0.3rem 0
  border-left: 0.25rem solid lighten($gray, 10%)

a[href]
  color: $link-color
  text-decoration: none

  strong
    color: inherit

  &:hover,
  &:focus
    text-decoration: underline

// Extenders
p.lead
  font-size: 2.25rem
  margin: 0.8rem auto
