html
  font-size: 16px

  &.wf-active
    body
      line-height: $text-line-height
      font-weight: $font-weight-normal
      font-family: $text-font-family

    pre, code
      font-family: $mono-font-family

    h1, h2, h3, h4, h5, h6
      font-family: $header-font-family

  &.wf-loading, &.wf-inactive, &
    body
      font-family: $text-font-family, $failsafe-font-family

    pre, code
      font-family: $mono-font-family, $failsafe-mono-font-family

    h1, h2, h3, h4, h5, h6
      font-family: $failsafe-header-font-family, $header-font-family

body
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  text-size-adjust: 100%
  text-rendering: optimizeLegibility

h1, h2, h3, h4, h5, h6
  margin-bottom: .5rem
  font-weight: 300
  line-height: 1.25
  color: lighten($black, 5%)

  &.center
    text-align: center

  &.skinny
    margin-top: 0.5rem

h1
  font-size: 2.5rem

  &.lead
    font-size: 4rem

h2
  font-size: 2rem
  margin-top: 1rem

h3
  font-size: 1.75rem
  margin-top: 1.5rem

h4, h5, h6
  font-size: 1.5rem
  margin-top: 1rem

strong, b
  font-weight: $font-weight-bold

em
  font-weight: inherit

ul, ol, dl
  list-style: inside
  margin-left: 1rem

ul > li, ol > li
  margin: 0.5rem

ul > li
  list-style: square

ol > li
  list-style: decimal

hr
  position: relative
  margin: 0.5rem auto
  border-style: solid
  border-color: darken($gray, 5%)
  width: 70%
  color: $foreground-color

  &.spacy
    margin-top: 1.25rem
    margin-bottom: 1.25rem

  &.micro
    width: 30%

  &.vertical
    transform: rotate(90deg)
    width: 10rem
    margin: 10% auto
    float: left
    margin-left: 10%

blockquote
  padding: 0.25rem 0.75rem
  margin: 0.3rem auto
  background-color: lighten($gray, 30%)
  border: 0.1rem solid $gray
  color: darken($gray, 40%)
  line-height: 1.4
  text-align: justify

  @media #{$desktop}
    &
      padding: 0.4rem 1.5rem
      border-left: 0.25rem solid lighten($gray, 10%)
      border-right: 0.1rem solid $gray
      font-size: 115%

a[href]
  color: $link-color
  text-decoration: none

  strong
    color: inherit

  &:hover
    text-decoration: none

// Extenders
p
  line-height: 1.6

  &.lead
    font-size: 125%
    margin: 0.8rem auto

.left
  float: left

.right
  float: right
