---
layout: 'default'
title: 'Contact'
javascripts:
  - "/js/vendor/pen.js"
styles:
  - "/css/pen.css"
---

:javascript
  window.onload = function () {
    var editor = new Pen('#editorRegion')
  }

:css
  form {
    margin-top: 1.25rem;
  }

  form > input[type] {
    border: 1px solid #444;
    padding: 0.5rem 0.75rem;
  }

  form > div#editorRegion.pen {
    border: 1px solid #222;
    padding: 0.5rem 1.25rem;
    width: 90%;
    max-width: 40rem;
    text-align: left;
    min-height: 35vh;
    margin-bottom: 0.5rem;
  }

  form > label {
    padding: 0.5rem 0.5rem;
    display: block;
    width: 100%;
  }

  form > label > span {
    padding: 0.1rem 0.2rem;
    text-transform: uppercase;
    width: 4rem;
    display: inline-block;
  }

%h1 Contact
%p You can reach out to me using this form for prioritization into my email / notification pool.

%form{action:"//formspree.io/yo@jacky.wtf", method:"POST"}
  %input{type:'hidden', name: '_next', value: 'https://jacky.wtf/contact/complete'}
  %input{type:'hidden', name: '_subject', value: 'Site Inquiry'}
  %input{type:'text', name:"_gotcha", style: 'display:none'}
  %label{for: 'name'}
    %span Name
    %input{type:'text', name: 'name', placeholder: 'Your Name'}
  %label{for: '_replyTo'}
    %span Email
    %input{type:'email', name: '_replyTo', placeholder: 'email@domain.tld'}
  %div#editorRegion
  %button{type:'submit'} Send Message
