@import "tachyons-sass/scss/_skins.scss";

$accent-color: $navy;
$primary-color: $black;
$success-color: $green;
$warning-color: $orange;
$danger-color: $red;
$info-color: $blue;

body, html {
  background-color: $white;
  color: $near-black;
}

a {
  color: $blue;

  &:visited {
    color: $light-purple;
  }

  &:hover {
    color: $dark-blue;
  }
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;

  &:hover, &:visited {
    color: inherit;
  }
}

mark {
  @extend .ph1;
  @extend .bg-yellow;
}
