@mixin expected-sans-serif-fonts {
  @extend .sans-serif;
  
  @at-root {
    html.wf-active & {
      font-family: "Source Sans Pro";
    }
  }
}

@mixin expected-serif-fonts {
  @extend .serif;
  
  @at-root {
    html.wf-active & {
      font-family: "Source Serif Pro";
    }
  }
}

@mixin expected-monospace-fonts {
  @extend .code;
  
  @at-root {
    html.wf-active & {
      font-family: "Source Code Pro";
    }
  }
}

@mixin expected-display-fonts {
  @at-root {
    html.wf-active & {
      font-family: "beyno";
      font-weight: 400;
    }
  }
}

.fontFamily__special {
  @at-root {
    html.wf-active & {
      @include expected-display-fonts;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  @include expected-serif-fonts;
  word-wrap: break-word;
}

p, body, div, li, blockquote {
  @include expected-sans-serif-fonts;
  @extend .f5;
  word-wrap: break-word;
}

pre, code, kbd {
  @include expected-monospace-fonts;
}

main[role=group] > p:first-child,
p.lead {
  @extend .f4;
  @extend .lh-copy;
  text-align: justify;
  text-align-last: left;
}

ul {
  @extend .list;
  padding-inline-start: 0rem;
  padding-inline-end: 0rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;

  &.arrows {
    li:before {
      content: "\2192";
      @extend .pa2;
    }
  }

  li {
    @extend .pa1;
  }
}

a {
  &, 
  &:visited,
  &:hover,
  &:visited:hover
  {
    @extend .link;
    color: $blue!important;
  }
}

blockquote {
  @extend .gray;
  @extend .lh-copy;
  @extend .mh4;
}

mark {
  white-space: nowrap;
  line-height: 1.5;
}

dt + dd {
  @extend .mb2;
}
