@mixin expected-sans-serif-fonts {
  @extend .sans-serif;
  
  @at-root {
    html.wf-sourcesanspro-n4-active & {
      font-family: "Source Sans Pro", $sans-serif;
    }
  }
}

@mixin expected-serif-fonts {
  @extend .serif;
  
  @at-root {
    html.wf-sourceserifpro-n4-active & {
      font-family: "Source Serif Pro", $serif;
    }
  }
}

@mixin expected-monospace-fonts {
  @extend .code;
  
  @at-root {
    html.wf-sourcecodepro-n4-active & {
      font-family: "Source Code Pro", $code;
    }
  }
}

@mixin expected-display-fonts {
  @extend .serif;

  @at-root {
    html.wf-beyno-n4-active & {
      font-family: "Beyno";
    }
  }
}

.fontFamily__serif {
  @include expected-serif-fonts;
}

.fontFamily__sansSerif {
  @include expected-sans-serif-fonts;
}

.fontFamily__special {
  @include expected-display-fonts;
}

h1, h2, h3, h4, h5, h6 {
  @include expected-serif-fonts;
  word-wrap: break-word;
}

p, body, div, li, blockquote {
  @include expected-sans-serif-fonts;
  @extend .f5, .f4-l;
  @extend .lh-copy;
  word-wrap: break-word;
}

pre, code, kbd {
  @include expected-monospace-fonts;
}

main[role=group] {
  p, blockquote {
    @extend .f4;
    @extend .measure;

    &:first-child {
      @extend .f3;
      @extend .measure-wide;

      text-align-last: left;
      text-align: justify;
    }
  }
}

ul {
  @extend .list;
  padding-inline-start: 0rem;
  padding-inline-end: 0rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;

  &.arrows {
    li:before {
      content: "\2192";
      @extend .pa2;
    }
  }

  li {
    @extend .pa1;
    @extend .lh-copy;
  }
}

a {
  @extend .link;
  @extend .navy;
}

blockquote {
  @extend .gray;
  @extend .lh-copy;
  @extend .mh4;
}

mark {
  white-space: nowrap;
  line-height: 1.5;
}

dt + dd {
  @extend .mb2;
}
