@mixin expected-sans-serif-fonts {
  @extend .sans-serif;
  
  @at-root {
    html.wf-active & {
      font-family: "Open Sans";
    }
  }
}

@mixin expected-serif-fonts {
  @extend .serif;
  
  @at-root {
    html.wf-active & {
      font-family: "Merriweather";
    }
  }
}

@mixin expected-monospace-fonts {
  @extend .code;
  
  @at-root {
    html.wf-active & {
      font-family: "Inconsolata";
    }
  }
}

@mixin expected-display-fonts {
  @at-root {
    html.wf-active & {
      font-family: "Megrim";
      font-weight: 400;
    }
  }
}

h1, h2, h3, h4, h5, h6, blockquote {
  @include expected-serif-fonts;
}

p, body, div, li {
  @include expected-sans-serif-fonts;
  @extend .f5;
}

pre, code, kbd {
  @include expected-monospace-fonts;
}

main[role=group] > p:first-child,
p.lead {
  @extend .f4;
  @extend .measure;
  @extend .lh-copy;
  text-align: justify;
  text-align-last: left;
}

ul {
  @extend .list;
  padding-inline-start: 0rem;
  padding-inline-end: 0rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;

  &.arrows {
    li:before {
      content: "\2192";
      @extend .pa2;
    }
  }

  li {
    @extend .pa1;
  }
}

a {
  @extend .link;
}

.fontFamily__special {
  @include expected-display-fonts;
}

blockquote {
  @extend .gray;
  @extend .measure-narrow;
  @extend .lh-copy;
  @extend .mh4;
}

mark {
  white-space: nowrap;
  line-height: 1.5;
}

dt + dd {
  @extend .mb2;
}
