%hr
%small
  All content, otherwise noted or explicitly mentioned is licensed under
  the CC-BY-SA 3.0 license. All code samples shown here are available under
  the MIT license.
%script{type:'javascript',src:'http://code.jquery.com/jquery-2.0.0.js'}
%script{type:'javascript',src:'/js/page.js'}
