%title= "{{ page.title }}"
%meta{charset: 'utf-8'}
%meta{name:'viewport', content:'width=device-width,height=device-height,zoom=1'}
%link{rel:'stylesheet', href:'/css/screen.css'}
%link{rel:'stylesheet', href:'/css/syntax.css'}
