---
layout: 'default'
title: 'Payments - Work'
class: 'work'
---

%h1 Payments

:markdown
  - **TODO:** Provide a sign in button to store into local storage and then remote database.
  - **TODO:** Check if they have an existing account in the system to show pending payments.
  - **TODO:** Allow for email reminders when it comes to client work.
