---
layout: bare
masthead: none
---
{% if page.masthead %}
  {% img "{{ page.masthead | image_path }}"
          class:"w-100 dib ma1-l mw7-l h-75-l fr-l"
          width:"auto" height:"auto" %}
{% endif %}
<section role="document">
  <h2 class="f2 lh-title">{{ page.title }}</h2>
  <h4 class="f4 lh-subtitle">{{ page.description }}</h4>
  <a href="/events/">&laquo; Back to events listing</a>
  <main role="group">
    <aside class="fr-l mw5 pa2">
      {% if page.location %}<div>{{ page.location }}</div>{% endif %}
      {% if page.host %}<div>{{ page.host }}</div>{% endif %}
      {% if page.slides %}
        <a href="{{ page.slides}}">Slides</a>
      {% endif %}
      {% if page.links.size > 0 %}
        <h4 class="mh1">Links</h4>
        <ul class="arrows">
          {% for link in page.links %}
            <li>
              {{ link }}
              <a href="{{ link.uri }}" target="_blank">
                {{ link.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </aside>
    {{ content | improve | letter_spacing | markdownify }}
  </main>
</section>
