---
layout: bare
---
{% if page.image and page.image != 'none' %}
  {% include masthead_post_header.html %}
{% else %}
  {% include post_header.html %}
{% endif %}
<address role="document">
  <span>:book: {{ page.category }}</span>
  <span>:tag: {{ page.tags | linkify_tags }}</span>
  <span>:clock: <time>{{ page.date | date_to_rfc822}}</time></span>
  <span>:clock: updated <time>{{ page.revised | date_to_rfc822 }}</time></span>
</address>
{% if page.excerpt != false or page.excerpt != '' %}
  <blockquote class="pa2 f3 f2-l measure-narrow center cb fg-light lh-title">
    {{ page.excerpt | markdownify }}
  </blockquote>
  <p class="tc moon-near-black">&sect;</p>
{% endif %}
<main role="post">
  {{ content }}
</main>
<footer role="post" class="pa2 center">
  <div class="center tc db mw8 w-100-l">
    {% if page.previous %}<a class="fl-l mv2 center pa2 dib" href="{{ page.previous.url }}" title="{{ page.previous.name }}">&laquo; Previous</a>{% endif %}
    {% if page.next %}<a class="fr-l mv2 center pa2 dib" href="{{ page.next.url }}" title="{{ page.next.name }}">Next &raquo;</a>{% endif %}
  </div>
  <p class="f6 f5-ns mw6 center pa1 cb">
    Thoughts? Comments? Suggestions? Rage posts? Send all of that to either my
    <a href="https://twitter.com/jackyalcine">Twitter handle</a> or <a
      href="mailto:yo@jacky.wtf">my email address</a> and I'll get back to you
    as soon as feasibly possible.
  </p>
</footer>
