---
layout: default
classes: post
---
%header.post
  %h1= "{{ page.title }}"

  %p
    %span.time
      %strong
        &#x23F0; Posted
      %time= "{{ page.date | date_to_string }}"
    —
    %span.author
      %strong
        &#x2668; Written by
      %a{href: '/about'}= "{{ site.author }}"
    —
    %span.categories
      %strong
        &#x26C9; Categorized under
      %a{href: "/weblog/categories/{{ page.categories[0] }}"}
        ="{{ page.categories[0] }}"

%section.post
  :plain
    {{ content }}

%footer.post
  %p
    This was categorized under 
    <strong>{{ page.categories | array_to_sentence_string }}</strong>.
