---
layout: default
classes: post
---
%header.post
  %h1= "{{ page.title }}"

%section.post
  %aside.meta
    %span.time
      %strong
        &#x23F0; Posted
      %time= "{{ page.date | date_to_string }}"
    %br
    %span.author
      %strong
        &#x2668; Written by
        %a{href: '/about'}= "{{ site.author }}"
    %br
    %span.categories
      %strong
        &#x26C9; Filed under
        %a{href: "/weblog/categories/{{ page.categories[0] }}"}
          ="{{ page.categories[0] }}"
  :plain
    {{ content }}

%footer.post
  %p
    This was categorized under 
    <strong>{{ page.categories | array_to_sentence_string }}</strong>.
