---
layout: post
---

<blockquote class='response'>
  This post is a response to
  <a href="{{ page.link.author_link }}" target="_blank">
    {{ page.link.author }}</a>'s
  work
  <a href="{{ page.link.src }}" target="_blank">
    {{ page.link.name }}</a>.
  For suggestions, comments and updated critique, please send it 
  to me via <a href="mailto:?yo@jacky.wtf">email (PGP encrypted)</a>
  or via Twitter to
  <strong>
    <a href="https://twitter.com/jackyalcine">@jackyalcine</a></strong>.
</blockquote>

<hr>
{{ content }}
