---
layout: bare
title: Portfolio
permalink: /portfolio/
description: |
  I work on an assortment of projects. Here, I outline what they are.
---
{% img "{{ 'pages/work-portfolio.jpeg' | image_path }}" class:"masthead" width:"100%" height:"auto" %}
<section role="document">
  <h1 class="lh-title f-headline-l">Portfolio</h1>
  <p class="lead lh-copy">
    As mentioned on <a href="/work/resume/">my resume</a>, I work as a
    full-stack software developer; ranging from client-side mobile applications
    on Android to server infrastructure.
  </p>
  <p class="lh-copy">
    Sounds interesting? <a href="/work/freelance/">Let's get to work</a>. I'd
    love to hear what ideas you got brewing!
  </p>
</section>
{% for product in site.portfolio %}
  {% include listing/project.html project=product %}
{% endfor %}
