---
layout: bare
title: Projects
permalink: /projects/
description: |
  To keep my wheel house busy, I work on a few projects to keep my blades and
  mind sharp.
---
{% img "{{ 'pages/projects.jpeg' | image_path }}" class:"masthead" width:"100%" height:"auto" %}
<section role="document">
  <h1 class="f1 lh-title f-headline-l">Projects</h1>
  <p class="lead">{{ page.description }}</p>
</section>
{% for project in site.data.projects %}
  <section class="project__listing section__region">
    {% if project.image %}
      {% img "{{ project.image | image_path }}" class:"masthead" width:"100%" height:"auto" %}
    {% endif %}
    <h2 class="f2 lh-title tracked-tight">
      <a href="{{ project.uri }}" target="_blank">
        {{ project.title }}
      </a>
    </h2>
    {{ project.description | improve | markdownify }}
  </section>
{% endfor %}
