---
# vim: set ft=liquid : #
layout: bare
title: Subscribe
description: |
  Learn about places you can follow my projects, growth and thoughts on the Web.
permalink: /subscribe/
redirect_from:
  - /newsletter/
---
{% img "{{ 'pages/subscribe.jpeg' | image_path }}" class:"masthead" width:"100%" height:"auto" %}
<section role="document">
  <h1 class="f1 lh-title f-headline-l">Subscribe</h1>
  <div class="w-100">
    <p class="lead">
      I keep a few ways for those interested in my updates to stay in tune with
      my activities. My <a href="#newsletter">newsletter</a> is the best way, as
      it also gives you a direct line of communication with me.
    </p>
  </div>

  <div class="mv4 cb cf">
    <div class="fl dib w-100 w-40-l pa1-l">
      <h2 class="f2 lh-title"><a name="newsletter">Newsletter</a></h2>
      <p class="lh-copy measure">
        My newsletter is a bimonthly curation of thoughts collected over time,
        things too short for a blog post and too useful for Twitter. I'd also
        add a few other fun things into them. There's over 150 subscribers
        currently following along.
      </p>
    </div>
    <div class="fl dib w-100 w-40-l pa1">
      {% include newsletter.html %}
    </div>
  </div>

  <div class="mv4 cb cf">
    <div class="fl dib w-100 w-40-l pa1-l">
      <h2 class="f2 lh-title"><a name="feeds">Feeds</a></h2>
      <p class="measure lh-copy">
        I keep RSS feeds of things I write on my <a href="/weblog/">weblog</a> so
        you don't have to keep coming here to check it out. I also keep a list of
        the podcasts I've recently listened to as well as links I've noted across
        the Web.
      </p>
      <ul>
        <li>
          <a href="/feeds/articles.xml">
            Articles Feed
          </a>
        </li>
        <li>
          <a href="https://www.reading.am/jackyalcine/list.rss">
            Web Reading List (external)
          </a>
        </li>
        <li>
          <a href="https://www.gpodder.net/user/jalcine/subscriptions/rss/">
            Podcasts (external)
          </a>
        </li>
      </ul>
    </div>  
  </div>

  <div class="mv4 cb cf">
    <div class="fl dib w-100 w-40-l pa1-l">
      <h2 class="f2 lh-title"><a name="social-media">Social Media</a></h2>
      <p class="measure lh-copy">
        There's also these services that people use to keep in touch and stay
        "tuned in". I'm on there (a bit too much, to be frank). If you end up
        following me on Twitter, I <em>strongly recommend</em> turning off my
        retweets. I don't have a quarter million tweets for nothing.
      </p>
    </div>
    <div class="fl dib w-100 w-40-l pa1">
      <ul>
        {% for link in site.links.social %}
        <li>
          <a href="{{ link.link}}" target="_blank">
            {{ link.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
