---
layout: bare
permalink: /press/talks/
title: "Talks"
---
<section role="document">
  <h1 class="f1 lh-title">Talks</h1>
  <p class="lead">
    I <em>really</em> enjoy showing people things that I'm passionate about.
    One medium I found that allows for an immediate feedback loop is via
    <strong>talks</strong>!
  </p>
  <h2 class="f2 ttu lh-title">Upcoming Talks</h2>
  {% if site.data.events.upcoming.size > 0 %}
    <p class="measure-wide lh-copy">
      Below are some events I'm part of. If it's interesting to you, be sure to
      let me know you're attending - I'll try and shout you out!
    </p>
    <div class="w-100 mw8-l">
      {% for event in site.data.events.upcoming %}
        {% include event.html event=event %}
      {% endfor %}
    </div>
  {% else %}
    <p class="measure-wide lh-copy">
      I don't have any upcoming talks at the moment. Let's 
      <a href="/contact/">talk more</a> if you're organizing or have one in
      mind.
    </p>
  {% endif %}
  <h2 class="f2 ttu lh-title">Talks</h2>
  <p class="measure-wide lh-copy">
    I've given talks and presentations at <strong>SXSW</strong>,
    <strong>WaffleJS</strong> and on behalf of <strong>YesWeCode</strong>. So
    far, I'm clocking at {{ site.data.events.past.size }} events.
  </p>
  {% if site.data.events.available %}
    <p class="alert alert--success">
      I'm open for speaking engagements. Feel free to <a
        href="/contact/">contact me</a> if you have any questions.
    </p>
  {% else %}
    <p class="alert">
      I'm currently not available for new speaking engagements. Feel free to
      <a href="/contact/">contact me</a> if you have any questions.
    </p>
  {% endif %}
  <div class="w-100 mw8-l">
    {% for event in site.data.events.past %}
      {% include event.html event=event %}
    {% endfor %}
  </div>
</section>
