---
title: "Wintermute - Projects - Jacky Alcine"
---

%section.intro
  %h1
    Wintermute
  %p
    Wintermute is really an ambitious project. The idea of it is
    to build a self-replicating, self-learning and self-teaching
    application framework that becomes one's virtual assistant.
    It began as a want to build <em>J.A.R.V.I.S</em> out of Iron Man's
    assortment of toys, but it became a personal need. It's the project
    that got me into programming and it'll be the one that would carry me out.

  %p.alert.rounded.success
    Not much to say right now, probably will on the <code>v0.1.0</code> release.
