body.about
  section[role=main]
    font-size: 1.5rem

    ul.social
      text-align: center
      display: block
      width: 100%
      margin: 0rem
      padding: 0rem

      li
        display: inline-block
        padding: 0.25rem
        margin: 0rem
