body.pagination
  section[role=main]
    p.entry
      time
        font-weight: bold
        text-transform: uppercase
        float: right
    p.paginator
      clear: both
      height: 1.5rem
      width: 50%
      margin: 0rem auto

      a.previous
        float: left
      a.next
        float: right
