---
layout: 'default'
title: 'Freelancing - Exit Survey'
class: 'work'
javascripts:
  - "https://s3-eu-west-1.amazonaws.com/share.typeform.com/embed.js"
---
:sass
  html
    margin: 0
    height: 100%
    overflow: hidden
  iframe
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    border: 0

%p Sending You To Typeform

%iframe#typeform-full{width:"100%", height:"100%", frameborder:"0", src:"https://jackyalcine.typeform.com/to/YgfDGs"}
