// TODO Import WebFont loader.

$body-font-family: "Lato"
$header-font-family: "Cabin"
$font-size: 16px

h1, h2, h3, h4, h5, h6
  font-family: $header-font-family

p, span, div, body
  font-family: $body-font-family

body
  font-size: 100%
  font-size: $font-size
