---
title: "About - Jacky Alciné"
---
%script{type: "text/javascript"}
  analytics.track("on about page");
%h2 About Jacky
%p
  I'm Jacky Alcine, and I write applications for the Web, Android and Linux
  desktops. For now, I'm living in Brooklyn, New York. I like food, art, science
  and dark humor.

%p
  I'm quite passionate about artifical intelligence and human-computer interactions,
  thus <a target="_blank" href="http://blog.jalcine.me/2013/07/01/wintermutes-the-name.html">my personal project</a>.
  Aside from that, I'm looking at how computers can be pushed to do more with less.

%p
  I'm <a target="_blank" href="https://twitter.com/jackyalcine"><i class="icon-twitter-sign"></i>&nbsp;jackyalcine</a> on Twitter,
  and just <a target="_blank" href="https://alpha.app.net/jackyalcine"><i class="icon-adn"></i>&nbsp;jackyalcine</a> on ADN. I'm
  on IRC quite a lot under the nick <code>jalcine</code> and chatty when provoked. You can e-mail me if you'd like
  at <a target="_blank" href="mailto:me@jalcine.me?subject=Yo">me@jalcine.me</a>; just no spam or BS.

%p
  Yeah, I'd code for you if you want. If you're into resumés,
  here's <a target="_blank" href="https://www.dropbox.com/s/jl9n7z9wq3aq37g/Resume.pdf"><i class="icon-download"></i>&nbsp;mine</a>.
  Otherwise, check out my code over on <a target="_blank" href="https://github.com/jalcine"><i class="icon-github"></i>&nbsp;GitHub</a>.
  I put code in other places like <a target="_blank" href="https://bitbucket.org/jalcine">Bitbucket</a> and <a href="https://launchpad.net/~jackyalcine">Launchpad</a>
  but it's either private stuff or for packaging software.

%p
  I post stuff on <a target="_blank" href="http://instagram.com/jackyalcine"><i class="icon-instagram"></i>&nbsp;Instagram</a> and
  <a target="_blank" href="http://flickr.com/photos/jackyalcine"><i class="icon-flickr"></i>&nbsp;Flickr</a> so you can catch my photos there.
  I check in my whereabouts whenever I'm somewhere interesting on none other than <a target="_blank" href="https://foursquare.com/jackyalcine"><i class="icon-foursquare"></i>&nbsp;FourSquare</a>.

%p
  So yeah, that's me in a nutshell.
