---
permalink: /events/
title: "Events"
available: false
---
{% assign upcoming_events = site.data.events.upcoming | where_exp: "event", "event.date > site.time" %}
{% assign past_events = site.data.events.past | where_exp: "event", "event.date <= site.time" %}
<p class="lead">
  I <em>really</em> enjoy showing people things that I'm passionate about.
  One medium I found that allows for an immediate feedback loop is via
  <strong>talks</strong>. I also attend events as a key participant, panelist
  or some role of that nature.
</p>
<h2 class="f2 ttu lh-title">Upcoming</h2>
{% if upcoming_events.size >= 1 %}
  <p class="measure-wide lh-copy">
    Below are upcoming talks that I'll be giving that you should check out!
  </p>
  <ul class="arrows">
    {% for event in upcoming_events %}
      <li><a href="{{ event.url }}">{{ event.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p class="alert alert--success">
    I don't have any upcoming talks at the moment. Let's 
    <a href="/contact/">talk more</a> if you're organizing or have one in
    mind.
  </p>
{% endif %}
<h2 class="f2 ttu lh-title">Past</h2>
<p class="measure-wide lh-copy">
  I've given presentations at <strong>SXSW</strong> and <strong>WaffleJS</strong>
  and attended panels on behalf of <strong>YesWeCode</strong>. So
  far, I'm clocking at {{ past_events.size }} events that I've been a 
  part of.
</p>
{% if page.available %}
  <p class="alert alert--success">
    I'm open for engagements. Want me at your next event?
    <a href="/faq/request-for-events">Learn how</a>.
  </p>
{% else %}
  <p class="alert">
    I'm currently not available for new engagements. Feel free to
    <a href="/contact/">contact me</a> if you have any questions.
  </p>
{% endif %}
<dl>
  {% for event in past_events %}
    <dt><a href="{{ event.url }}">{{ event.title }}</a></dt>
    <dd>{{ event.description | improve }}</dd>
  {% endfor %}
</dl>
