---
title: Portfolio
permalink: /portfolio/
description: |
  I work on an assortment of projects. Here, I outline what they are.
masthead:
  image: pages/work-portfolio.jpeg
pagination:
  enabled: true
  collection: portfolio
  title: 'Portfolio - Page :num of :max'
---
<p class="f3 lead lh-copy">
  As mentioned on <a href="/work/resume/">my resume</a>, I work as a
  full-stack software developer; ranging from client-side mobile applications
  on Android to server infrastructure. Sounds interesting? 
  <a class="link" href="/work/contract/?ref=portfolio">Let's get to work</a>.
</p>
{% for entry in paginator.posts %}
  {% include listing/project.html project=entry %}
{% endfor %}
