---
title: Portfolio
permalink: /portfolio/
description: |
  I work on an assortment of projects. Here, I outline what they are.
masthead:
  image: pages/work-portfolio.jpeg
pagination:
  enabled: true
  collection: portfolio
  title: 'Portfolio - Page :num of :max'
---
<p class="lead lh-copy">
  As mentioned on <a href="/work/resume/">my resume</a>, I work as a
  full-stack software developer; ranging from client-side mobile applications
  on Android to server infrastructure.
  <br />
  Sounds interesting? <a href="/work/contract/">Let's get to work</a>. I'd
  love to hear what ideas you got brewing!
</p>
{% for entry in paginator.posts %}
  {% include listing/project.html project=entry %}
{% endfor %}
