---
layout: default
title: about · jackyalciné
classes: about
---

%ul.social
  %li
    %a{href: 'https://linkedin.com/in/jackyalcine', target: '_blank'}
      %i.fa.fa-2x.fa-fw.fa-linkedin-square
  %li
    %a{href: 'https://twitter.com/jackyalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-twitter-square
  %li
    %a{href: 'https://github.com/jalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-github-square
  %li
    %a{href: 'https://plus.google.com/u/0/+JackyAlcin%C3%A9/posts', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-google-plus-square
  %li
    %a{href: 'https://alpha.app.net/jackyalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-adn
  %li
    %a{href: 'mailto:hello@jalcine.me', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-envelope-o
%hr

:markdown
  ***Reader*: Hey! So who are you?**
  <br>
  *Me*: Hey, I'm **Jacky**.

  ***Reader*: What do you do?**
  <br>
  *Me*: Well, I'm a freelance web application developer, open  source fanatic 
  and a bit of  a loudmouth. The good kind of loudmouth.  I spend too many 
  hours a day in front of a shell when plans are centered around working 
  or gaming for the hell of it. Don't get to it enough though.

  ***Reader*: Ah, that's cool/interesting/different. What are you up to now?**
  <br>
  *Me*: Eh, right now, I'm doing consulting work. I've been in the game for
  around five years now; but time is so relative. It's easier to see work done
  as opposed to name dropping.

  ***Reader*: What do you call yourself?**
  <br>
  *Me:* Like name-wise? Just Jacky. But I go by `jalcine` or `jackyalcine`online
  because I couldn't think of an awesome enough username. Kind of find them silly,
  but I digress.
