---
layout: default
title: "About"
class: "about"
---

%a{href:'http://www.steadyus.com/product/weighted'}
  %img.me{src: "/images/me.jpeg",alt:"Hey, that's Jacky"}

:markdown
  # About
  I'm Jacky. I live in [Brooklyn, New York][bk] and from République d'Haïti,
  although I was born on American soil. I spend too much time in front of my
  [laptop][laptop] when I'm either at home or at a space where I can use it
  (which tends to be almost anywhere). I'm an unapologetically Black cisgender
  male and if the concepts of equal rights for Blacks is trippy, you've just
  made a `403`, pal.

  > There's a 60% chance you've come here from Twitter, according to
  > analytics. So yeah. Restricting myself to 140 characters is insulting and
  > requires me to make up a quip-like statement. _Not about it, fam_.

  ## Programming
  My dad gave me a book on C++ programming back in 2006. I read it over that
  summer and kept tinkering with little text games on a Windows XP machine.
  From there, I learned about [Ubuntu][ubuntu] in 2009 and kept using it since
  then. Check out my [Github][github] account.

  ## Photography
  Oh God. So when I said I took pictures, I meant it. But they tend to not
  have people in them. They're kind of hard to take pictures of. I'm working on
  it though. I put my pictures where most photographers tend to, on
  [Flickr][flickr]. Don't laugh.

  ## This Site
  This site's a mash of Markdown, HTML, Sass and JavaScript. To many, this can
  equate to a evolving ball of hell or a perfect symphony of art. I don't know,
  you can check over at its source code tree on [Github][tree].

  [bk]: https://duckduckgo.com/?q=brooklyn+new+york&ia=about
  [laptop]: /gear/#laptop
  [ubuntu]: https://www.ubuntu.com
  [github]: https://www.github.com/jalcine
  [flickr]: https://www.flickr.com/photos/jackyalcine
  [tree]: https://github.com/jalcine/jalcine.me
