---
layout: default
title: about — jackyalciné
classes: about
---

%ul.social
  %li
    %a{href: 'https://linkedin.com/in/jackyalcine', target: '_blank'}
      %i.fa.fa-2x.fa-fw.fa-linkedin-square
  %li
    %a{href: 'https://twitter.com/jackyalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-twitter-square
  %li
    %a{href: 'https://github.com/jalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-github-square
  %li
    %a{href: 'https://plus.google.com/u/0/+JackyAlcin%C3%A9/posts', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-google-plus-square
  %li
    %a{href: 'https://alpha.app.net/jackyalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-adn
  %li
    %a{href: 'mailto:hello@jalcine.me', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-envelope-o
%hr

:markdown
  ## Elevator Pitch
  Well, this is odd. A pitch of myself. I'm about drinking age, good vision, 
  articulate and can work computer applications for the Web and desktop 
  computers. I have three years of work-experience and three more years before that
  of previous computer programming background. Oh, and I use Vim.
  

  ## Text Editor
  [**Vim.**][vimrc] Next?

  ## Computer (Hardware, Software)?
  I use an Asus S-family laptop. Being cheap, I have a i3 core and squeezed 
  8 GB of RAM on it. It has the typical jazz (USB 3.0, Bluetooth 4.0, 
  802.11agbn). I run [Kubuntu][] Linux as my operating system, currently on 
  (20)13.10 (Saucy Salamander). I tend to use Konsole as my terminal 
  application, with Vim and tmux being my top used console applications.
  I use both the LLVM toolchain and the GNU toolchain for building C and C++
  applications.

  ## Resume?
  Sure. Here's a [direct link][resume].

  [kubuntu]: http://kubuntu.org
  [vimrc]: https://github.com/jalcine/vimrc
  [resume]: /files/Jacky-Alcine-resume.pdf
%hr
