---
# vim: set ft=liquid :
layout: default
title: "About"
class: "about"
excerpt: |
  A few things about me (Jacky Alcine) that I feel one should know.
---

%a{href:'http://www.steadyus.com/product/weighted'}
  %img.me{src: "/images/me.jpeg",alt:"Hey, that's Jacky"}

:markdown
  # About
  **I'm Jacky**. I live in [Brooklyn, New York][bk] with lineage to [Haïti][hi].
  I spend too much time in front of my [laptop][] when I'm either at home or at
  a space where I can use it (which tends to be almost anywhere). I'm an
  unapologetically Black cishetero male and if the concepts of equal rights for
  Black people (and minorities as a whole) is trippy, you've just made a `403`, pal.

  > There's a 77% chance you've come here from Twitter, according to
  > analytics. So yeah. Restricting myself to 140 characters is insulting and
  > requires me to make up a quip-like statement. _Not about it, fam_.
  > I'm not here to sugarcoat shit; I do my best as straight of a shooter as
  > I can.

  ## Social Media
  I've stopped using my Facebook account in a personal attempt to severe ties
  with their browser data collection tactics. It sucks because a lot of friends
  and family _still_ use the platform but for now, it's a loss I can accept.
  I primarily use [Twitter][tw] as my primary social media platform of choice
  because it's not too demanding on attention, in a sense. You get what you put
  into it, sans the trolling and abusive behavior of other humans that inhabit
  this planet. I've also decided against splitting my online presence from being
  a "professional" then more "lax" experience because the act of assimilation
  to a public that requires me to diminish the parts of me that makes me who I
  am (music, food, etc) is only to make others who aren't like me more
  comfortable as opposed to learning about (but not appropriating) said culture.

  ## Programming
  My dad gave me a book on C++ programming back in 2006. I read it over that
  summer and kept tinkering with little text games on a box running Windows XP.
  From there, I learned about [Ubuntu][] in 2009 and kept using it since then.
  I wrote a [bit more about this][start] and plan to follow up with it when it makes
  ten years.

  ## Photography
  Oh God. So when I said I took pictures, I meant it. But they tend to not
  have people in them. They're kind of hard to take pictures of. I'm working on
  it though. I put my pictures where most photographers tend to, on [Flickr][].
  Don't laugh.

  ## This Site
  This site's a mash of Markdown, HTML, Sass and JavaScript. To many, this can
  equate to a evolving ball of hell or a perfect symphony of art. I don't know,
  you can check over at its source code tree on [Github][tree].

  [bk]: https://duckduckgo.com/?q=brooklyn+new+york&ia=about
  [hi]: https://duckduckgo.com/?q=haiti&ia=about
  [start]: {% post_url 2013-04-30-why-i-code-the-start %}
  [laptop]: /gear/#laptop
  [ubuntu]: https://www.ubuntu.com
  [github]: https://www.github.com/jalcine
  [flickr]: https://www.flickr.com/photos/jackyalcine
  [tree]: https://github.com/jalcine/jalcine.me
  [tw]: https://twitter.com/jackyalcine
