---
layout: default
title: About
classes: about
---

%ul.social
  %li
    %a{href: 'https://linkedin.com/in/jackyalcine', target: '_blank'}
      %i.fa.fa-2x.fa-fw.fa-linkedin-square
  %li
    %a{href: 'https://twitter.com/jackyalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-twitter
  %li
    %a{href: 'https://github.com/jalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-github
  %li
    %a{href: 'https://plus.google.com/u/0/+JackyAlcin%C3%A9/posts', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-google-plus-square
  %li
    %a{href: 'https://alpha.app.net/jackyalcine', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-adn
  %li
    %a{href: 'mailto:hello@jalcine.me', target: '_blank'}
      %i.fa.fa-fw.fa-2x.fa-envelope-o

:markdown
  > _If you're into resumés, I got a [present for you][resume]._

  ## About This Site
  This website is created using [Jekyll][], [Sass][], [Haml][] and a few extra
  extensions for [Jekyll][jekyllblogplugins]. The source code to most of the 
  website is on [Github][]. You might find a few icons from the [Font Awesome][]
  project here as well.

  ## About Jacky
  I'm a software engineer that's been programming since 2010, recreationally 
  since 2009, but that doesn't matter. I take an interest into learning more 
  about methodologies of software engineering which in turn led to me picking
  up quite a few languages to play with different quirks and styles 
  (and indenting, jeez, the indenting).

  ## Contact
  Although I never do mind a face-to-face chat, I'm most comfortable when
  sending e-mail to &amp; fro. An address of contact is **hello@jalcine.me**.
  I look forward to hearing from you (even more awesome if it has a nice present!).

  [jekyll]: http://jekyllrb.com
  [sass]: http://sass-lang.com
  [haml]: http://haml.info
  [resume]: /files/Jacky-Alcine-resume.pdf
  [jekyllblogplugins]: https://github.com/jalcine/jalcine.me/tree/develop/src/_plugins
  [github]: https://github.com/jalcine/jalcine.me
  [font awesome]: http://fontawesome.io/
