---
layout: default
title: About
class: about
excerpt: |
  A few things about me (Jacky Alcine) that I feel one should know.
---

%a{href:"https://instagram.com/p/5Uv6KSnPjb/?taken-by=jackyalcine",title:"Picture of Jacky"}
  %img#self{src: "/images/me-320.jpeg",alt:"Hey, that's Jacky!",width:320}

:markdown
  # About
  **I'm Jacky**. I live in [Oakland, California][oak] and grew up in [Brooklyn, 
  New York][bk] with lineage to [Haïti][hi]. I spend too much time in
  front of my [laptop][] when I'm either at home or at [a space where
  I can use it][1] (which tends to be almost anywhere). I'm an
  unapologetically Black cishetero male and if the concepts of equal rights
  for Black people (and URM as a whole) is trippy, you've just made
  a `403`, pal. There's a 68% chance you've come here from Twitter, according to
  analytics. So yeah. Restricting myself to 140 characters is insulting and
  requires me to make up a quip-like statement. _Not about it, fam_.
  I'm not here to sugarcoat shit; I do my best as straight of a shooter as
  I can.

  ## Social Media
  I primarily use [Twitter][tw] as my primary social media platform of choice
  because it's not too demanding on attention, in a sense. You get what you put
  into it, sans the trolling and abusive behavior of other humans that inhabit
  this planet. I've also decided against splitting my online presence from being
  a "professional" then more "lax" experience because the act of assimilation
  to a public that requires me to diminish the parts of me that makes me who I
  am (music, food, etc) is only to make others who aren't like me more
  I also [listen to music][lastfm], [read & watch videos][ram] and [listen to
  podcasts][gpod].

  ## Press
  **Are you writing about me?** Visit [here][press] for some blurbs and images.
  ### Photography
  Whenever I do happen to walk with my camera, I take some pictures of what I
  find interesting. I take the best of shots and place them on [Flickr][].

  ## Programming
  My dad gave me a book on C++ programming back in 2006. I read it over that
  summer and kept tinkering with little text games on a box running Windows XP.
  From there, I learned about [Ubuntu][] in 2009 and kept using it since then.
  I wrote a [bit more about this][start] and plan to follow up with it when it makes
  ten years. Right now, I work on a [few personal projects][prj] to keep the blade sharp.
  I host my public facing code on [Github][] and some more personal repositories on
  [cgit][].

  [If you want, we can pair program](/pairwithme/).

  ## This Site
  This site's a mash of Markdown, HTML, Sass and JavaScript. To many, this can
  equate to a evolving ball of hell or a perfect symphony of art. I don't know,
  you can check over at its source code tree on [Github][tree].

  # Contacting Me
  If you want to email me, send it to *YO* at the domain that is being served from.
  Or you can [**use this page**](/contact/).

  [bk]: https://duckduckgo.com/?q=Brooklyn+New+York&ia=about
  [oak]: https://duckduckgo.com/?q=Oakland+California&ia=about
  [hi]: https://duckduckgo.com/?q=haiti&ia=about
  [start]: {% post_url 2013-04-30-why-i-code-the-start %}
  [laptop]: /gear/#laptop
  [ubuntu]: https://www.ubuntu.com
  [github]: https://www.github.com/jalcine
  [flickr]: https://www.flickr.com/photos/jackyalcine
  [tree]: https://github.com/jalcine/jalcine.me
  [tw]: https://twitter.com/jackyalcine
  [cgit]: http://git.jacky.wtf/
  [prj]: /projects/
  [gpod]: https://gpodder.net/user/jalcine/
  [lastfm]: http://www.last.fm/user/jackyalcine/now
  [ram]: https://www.reading.am/jackyalcine/list.rss
  [press]: /about/press/
  [1]: https://foursquare.com/jackyalcine/list/hack-spots
