---
title: Blog Post
---
%div.blog
  %section.content.small-12.columns.pull-left
    %article.full
      %h2
        %a{href: "/projects/blog/post.html"}
          Blog Title
      %div.content
        %p.faker2
      %div.controls
        %a.permalink{href: "/projects/blog/post.html"}
          %i.icon-link
          permalink
        %span.time
          %i.icon-time
          3/20/93 @ 4:20 PM 
  %section.sidebar.small-12.columns.hide-for-small
    %aside
      %h2
        %i.icon-compass
        Recent Posts
      %div
        %ul
          %li
            %a
              Awesome
    %hr
