@import 'colors'
@import 'sizes'
@import 'compass/css3/border-radius'
@import 'compass/css3/box-shadow'
@import 'compass/css3/opacity'

$header-height: 6rem

header[role=main], footer[role=main], section[role=main]
  clear: both
  display: block

header[role=main]
  background-image: url(/images/banner.png)
  background-color: darken($background-color, 40%)
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat
  color: darken(mix($gray, $lavender, 80%), 80%)
  height: $header-height
  width: 100%
  position: fixed
  top: 0rem
  left: 0rem

  .frame
    margin: 0rem auto
    text-align: center
    width: 80%
    max-width: 40rem
    height: auto

    a
      line-height: $header-height

    img.head
      +border-radius(50%)
      +box-shadow(0px 0px 15px darken($white, 20%))
      +transition(opacity 0.5s)
      +opacity(0.75)
      width: $header-height * (5/6)
      margin-bottom: 0.4rem
      vertical-align: middle

    a:hover > img.head
      +opacity(1.0)

    ul
      +transition(height 0.3s)
      padding: 0rem
      margin:  0rem
      display: inline-block
      height: $header-height

      li
        +transition(height 0.3s)
        display: inline-block
        margin: 0rem 1rem
        line-height: $header-height
        text-transform: uppercase
        font-size: x-large

        a
          +transition(color 0.2s, text-shadow 0.4s)
          color: mix($lavender, $white, 60%)
          &:hover
            color: $white
            +text-shadow(0px 0px 9px mix($lavender, $white, 60%))
    h1
      font-variant: small-caps
      display: inline-block

      a
        color: $lavender

        &:hover
          +text-shadow(0px 0px 9px mix($lavender, $white, 60%))
          color: $white

  @media #{$screen} and #{$small-width}
    &
      height: $header-height * 0.75

      .frame
        width: 97.5%
        a
          line-height: $header-height * 0.75

        img.head
          width: $header-height * 0.625
          margin-bottom: 0.1rem

        ul
          height: $header-height * 0.75

          li
            margin: 0rem 0.75rem
            line-height: $header-height * 0.75

section[role=main]
  margin: $header-height auto 0rem
  padding: 0.5rem 0rem
  width: 80%
  max-width: 62.5rem

  @media #{$small-width}
    &
      width: 95%
      margin: ($header-height * 0.75) auto 0rem

footer[role=main]
  width: 60%
  color: $gray
  margin: 2rem auto
  text-align: center

  @media #{$small-width}
    &
      width: 90%
      margin: 1rem auto
