// Snagged from: https://gist.github.com/jalcine/ce901836dce4b3588ae2

$mobile-screen: 690px;
$tablet-screen: 994px;
$desktop-screen: 1280px;
$max-page-width: $desktop-screen * (4/5);

$screen: "only screen";
$mobile: "only screen and (max-width:#{$mobile-screen})";
$mobile-up: "only screen and (min-width:#{$mobile-screen})";
$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen})";
$tablet-up: "only screen and (min-width:#{$tablet-screen})";
$desktop: "only screen and (min-width:#{$desktop-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";
