hr {
  color: #999;
  background-color: #999;
}

figure.captioned-image {
  width: 100%;
  display: block;

  img {
    margin: 0rem auto;
    display: block;
    width: 100%;
  }

  figcaption {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.5rem;
  }

  @media #{$tablet-up} {
    width: auto;
    display: inline-block;
    float: right;
    max-width: 35vw;
    margin: 0.5rem;
  }
}

video {
  display: block;
  margin: 0rem auto;
}

img.image-half {
  width: 80%;
  display: block;
  margin: 0.5rem 10%;

  @media #{$tablet-up} {
    width: 48%;
    margin: 0rem auto;

    &.first {
      display: inline-block;
      margin-right: 0rem;
    }

    &.second {
      display: inline-block;
      margin-left: 0rem;
    }
  }
}
