@import 'colors';

body {
  padding: 0rem;
  margin: 0rem;
  width: 100%;
  font-size: 16px;
  color: $black;
  background-color: $white;
  transition: 0.3s all;

  > header,
  > footer {
    width: 100%;
  }
}

@import 'layout/generic';
@import 'layout/index';
@import 'layout/post';
