$font-webSans: "Karla";
$font-webSerif: "Alegreya";
$font-webMono: "Inconsolata";
$font-sans: sans-serif;
$font-serif: serif;
$font-mono: "Courier New", monospace;
$font-headingSize: 3rem;
$font-weightLight: 100;
$font-weightNormal: 400;
$font-weightHeavy: 700;
