$small:  45.5rem;
$medium: 60rem;
$large:  90rem;
$buffer: 0.025rem;

$screen: "only screen";
$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-width:  "(max-width: #{$small})";
$medium-width: "(min-width: #{$small} + #{$buffer}) and (max-width:#{$medium})";
$large-width:  "(min-width: #{$medium} + #{$buffer}) and (max-width:#{$large})";
