/// {{{ Breakpoints
$small:  45.5rem; // 728px
$medium: 60rem;   // 960px
$large:  90rem;   // 1440px
$buffer: 0.025rem;

$screen: "only screen";
$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-width: "(max-width: #{$small})";
$medium-width: "(min-width: #{$small}  + #{$buffer}) and (max-width: #{$medium})";
$large-width: "(min-width: #{$medium} + #{$buffer}) and (max-width: #{$large})";

/*$small-up: "(min-width: #{$small})";*/
$medium-down: "(max-width: #{$medium})";
$medium-up: "(min-width: #{$medium})";
$large-up: "(min-width: #{$large})";

// }}}

$header-height: 3rem;
