table {
  width: 100%;
  border: 1px solid $black;
  padding: 0.25rem;
  margin: 0.25rem;

  th, td {
    padding: 0.25rem;
  }

  > thead th {
    min-height: 1.5rem;
    border: 1px solid $black;
    border-width: none 1px;
  }
}
