$font-webSans: "Roboto";
$font-webSerif: "Roboto Slab";
$font-webMono: "Inconsolata";
$font-sans: sans-serif;
$font-serif: serif;
$font-mono: "Courier New", monospace;
$font-headingSize: 3rem;
$font-weightLight: 100;
$font-weightNormal: 400;
$font-weightHeavy: 700;

html.wf-active {
  body { font-family: $font-webSerif; }
  h1, h2, h3, h4, h5, h6 { font-family: $font-webSans; }
  pre, code, kbd { font-family: $font-webMono; }
}

body {
  font-family: $font-sans;
  font-weight: $font-weightNormal;
}

.link, a {
  text-decoration: none;
  color: $clr-LinkForeground;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 0.125rem;
    bottom: 0;
    position: absolute;
    left: 0;
    top: 85%;
    background-color: $clr-LinkForeground;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }

  &:hover {
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

ol, ul {
  margin: 0.5rem auto;
  padding: 0.5rem;
  padding-left: 1rem;
}

ul > li { list-style: disc; }
ol > li { list-style: decimal; }

pre, code, kbd {
  font-family: $font-mono;
}

em { font-style: italic; }
strong { font-weight: $font-weightHeavy; }

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weightHeavy;
  font-family: $font-serif;
  margin: 0.5rem 0rem;

  a {
    @extend .link;
    color: $clr-TextForeground;
  }
}

// Headings {
h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.25rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.75rem; }
h6 { font-size: 1.5rem; }

// }

li {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li, p {
  margin: 0.75rem 0.25rem;
  line-height: 1.5;
  font-size: 1.1rem;

  &.lead {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  @media #{$desktop} {
    &.wrapped {
      width: 60%;
    }
  }
}

blockquote {
  border: 1px solid $black;
  border-left: 2px solid $navy;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 1.5rem;
  background-color: darken($white, 10%);
  color: $black;
  font-size: 0.85rem;
}
