@import 'options';

body {
  font-family: $font-sans;
  font-weight: $font-weightNormal;
  font-size: 12px;
}

.link, a {
  text-decoration: none;
  color: $clr-LinkForeground;
  position: relative;

  &:hover {
  }

  @media #{$desktop} {
    &::before {
      content: "";
      width: 100%;
      height: 0.125rem;
      position: absolute;
      left: 0;
      top: 100%;
      bottom: 0;
      background-color: $clr-LinkForeground;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover {
      &::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}

ol, ul {
  margin: 0.5rem 0.2rem;
  padding: 0 0 0 1rem;
}

ul > li {
  list-style: square;
}

ol > li {
  list-style: decimal;
}

li {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}


pre, code, kbd {
  font-family: $font-mono;
}

em {
  font-style: italic;
}

strong {
  font-weight: $font-weightHeavy;
}

small {
  font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weightHeavy;
  font-family: $font-serif;
  margin: 0.5rem 0;

  a {
    @extend .link;
    color: inherit;
  }
}

// Headings {
h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 { 
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

// }

p {
  @extend li;
  margin: 0.75rem 0;

  &.lead {
    font-size: 1.25rem;
  }
}

/// ==============================================
/// Web font specifics ========================= {
html.wf-active {
  body {
    font-family: $font-webSans;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-webSerif;
  }

  pre, code, kbd {
    font-family: $font-webMono;
  }
}
/// ============================================ }

sup {
  vertical-align: super;
  font-size: 70%;
  font-weight: bolder;
}
