// vim: set fdm=marker fdl=0:

@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'

// {{{ Options
$body-font-family: "Open Sans", Roboto, Helvetica, Verdana, Arial, sans-serif
$header-font-family: "Open Sans", "Roboto Slab", Georgia, Arial, sans-serif
$mono-font-family: monospace
$font-size: 16px
$text-weight: 900
// }}} End Options

// {{{ Headings
h1, h2, h3, h4, h5, h6, blockquote
  font-family: $header-font-family
  margin: 0.8rem 0rem

h1, h2, h3
  font-weight: 900

h3, h4, h5
  font-weight: 700

h1
  font-size: 2.7rem
h2
  font-size: 2.4rem
h3
  font-size: 2.1rem
h4
  font-size: 1.8rem
h5
  font-size: 1.5rem
h6
  font-size: 1.2rem
/** }}} End Headings **/

// {{{ Tags
p, body
  font-family: $body-font-family
  line-height: 1.3

strong
  font-weight: $text-weight

  &.lead
    text-transform: uppercase

em
  font-style: italic

sup
  vertical-align: super
  font-size: smaller

ol
  list-style-type: decimal

body
  font-size: 100%
  font-size: $font-size


blockquote
  background-color: darken($lavender, 40%)
  color: $white
  border: 1rem solid darken($lavender, 40%)
  padding: 0.5rem 0rem
  width: 95%
  margin: 0rem auto

ul > li
  list-style: square

code, pre
  font-family: $mono-font-family
  color: $black

p > code, p > pre, .highlight .pre
  font-size: 0.6em

p > code, p > pre, pre > code
  background-color: $foreground-color
  color: $background-color
  padding: 0.2rem
  line-height: 1em

.highlight > pre, code > pre
  padding: 1.2rem 0.4rem
  width: 100%
  overflow-x: auto

p
  clear: both

hr
  width: 80%
  background-color: $lavender
  border: none
  height: 0.1rem

/// }}}

// {{{ Mutating Selectors
// TODO Make this into a splat of a list.
.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.text-justify
  text-align: justify

// }}}

// {{{ Other Selectors

section.lead
  margin: 0rem auto
  width: 80%
  font-size: 1.5rem
  text-align: justify

p.lead
  font-size: 1.3em

@media #{$small-width}
  body
    font-size: 90%
    font-size: $font-size * 0.9

@media #{$medium-width}
  body
    font-size: 110%
    font-size: $font-size * 1.1
/// }}}
