@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'

$body-font-family: "Noto Sans", "Droid Sans", Roboto, Lato, Verdana
$header-font-family: "Roboto Slab", Cabin, Gregoria
$mono-font-family: Monaco, Droid Sans Pro, monospace
$font-size: 16px

h1, h2, h3, h4, h5, h6, blockquote
  font-family: $header-font-family

h1, h2, h3
  font-weight: 900

h3, h4, h5
  font-weight: 700

h1
  font-size: 2.2rem
h2
  font-size: 2.0rem
h3
  font-size: 1.8rem
h4
  font-size: 1.6rem
h5
  font-size: 1.4rem
h6
  font-size: 1.2rem

p, body
  font-family: $body-font-family
  font-weight: 100

strong
  font-weight: 900

em
  font-style: italic

sup
  vertical-align: super
  font-size: smaller

ol
  list-style-type: decimal

body
  font-size: 100%
  font-size: $font-size

@media #{$tiny-width}
  body
    font-size: 90%
    font-size: $font-size * 0.9

@media #{$hefty-width}
  body
    font-size: 110%
    font-size: $font-size * 1.1

blockquote
  background-color: darken($lavender, 40%)
  color: $white
  border: 1rem solid darken($lavender, 40%)
  border-width: 1rem 0px
  border-radius: 0px 2rem
  margin: 0.5rem auto
  padding: 0.5rem 1rem
  width: 100%

ul > li
  list-style: square

code, pre
  font-family: $mono-font-family

p > code, p > pre
  background-color: $lavender
  color: $white
  padding: 0.2rem
  margin: 0.1rem

.highlight
  pre
    font-size: 0.9rem
    font-family: $mono-font-family
    padding: 0.2rem 0.4rem

hr
  width: 80%
  background-color: $lavender
  border: none
  height: 0.1rem

.footnotes
  width: 90%
  font-size: 1rem

