---
layout: 'default'
title: 'Work'
class: 'work'
---

%header.work
  %span.pre="I can"
  %h2.lead="Work For You"

%section.blurb
  :markdown
    If you haven't yet, please [**learn a bit about me**][1]. I've been
    working as a web developer for five years now at companies like [Google][2],
    [Horizon Media][3], and [BLS][4].

    [1]: /about/
    [2]: https://google.com
    [3]: http://horizonmedia.com
    [4]: http://www.theblsgroup.com/


