---
layout: 'default'
title: 'Work'
class: 'work'
---

%header.work
  %span.pre="I can"
  %h2.lead="Work For You"

%blockquote
  As of 2015-07-15 16:00:00 PM EDT, I've stopped taking on new leads for
  freelance roles and instead will be forwarding said roles to fellow
  freelancers who are searching. I am now publicly interested in a full-time
  position as a full-stack web developer with more inclination towards the
  backend development process.

%h2#activity Activity
%section.blurb
  :markdown
    Right now, I'm currently working on [WhoseYourLandlord][wyl] part-time and
    [Wintermute][wintermute].

    [wyl]: http://www.whoseyourlandlord.com
    [wintermute]: http://wintermute.jacky.wtf/

%h2#background Background
%section.blurb
  :markdown
    If you haven't yet, please [**learn a bit about me**][1]. I've been
    working as a **computer programmer** for five years now at companies like
    [Google][2], [Horizon Media][3], [BLS][4] and [Shutterstock][6]. I have a
    [Web version of my resume][7] and will provide a PDF version upon request.

    ## What I Can Do

    I'm a programmer that specializes in back-end Web development. I can
    build or work on the following:

      * Web services like shopping carts, blogs and marketing sites.
      * Tumblr and Wordpress themes (and Wordpress plugins if **absolutely** needed).
      * Bring websites up to current Web standards.
      * Improving websites to embrace responsive ideals.

    ## What I Don't Do

      + Native iOS applications **[why?][5]**,
      + Native Android applications **yet**,
      + Build unicorns and
      + Produce startups out of a box.

    ## Languages

    Most of the work I've done was in either Perl, JavaScript or Ruby. I have
    experience with PHP at a startup I worked at for a brief period of time before
    gears were switched to port the project's architecture to Rails.

    [1]: /about/
    [2]: https://google.com
    [3]: http://horizonmedia.com
    [4]: http://www.theblsgroup.com/
    [5]: {% post_url 2013-09-22-i-dont-dislike-apple-os-x %}#why-dont-i-use-os-x-then
    [6]: https://shutterstock.com/
    [7]: /work/resume/
    [8]: /work/resume.pdf

%h2#leads Opening A Lead
%section.blurb
  :markdown
    If you wish to have me work with you on a project or on your team, please
    [send me an e-mail][email] with the prefix "[WORK]" for higher priority via
    filtering.

    __I'm open for Ruby on Rails, Node and PHP consulting__.

    [email]: /about/#contact

%h3#rates Rates
%section.blurb
  :markdown
    My non-negotiable rate for development is __$110 per hour__. Contracts
    for projects and development can be provided upon request with a minimum 
    of a three hour committment.

%h3#times Times
%section.blurb
  :markdown
    I'm generally available for up to **35** hours of work a week. Agreements
    for more time can be made.
