---
layout: 'default'
title: 'Work'
class: 'work'
javascripts:
  - /js/vendor/jquery.lettering.js
---

%header.work
  %span.pre="I can"
  %h2.lead="Work For You"

%section.blurb
  :markdown
    If you haven't yet, please [**learn a bit about me**][1]. I've been
    working as a **web developer** for five years now at companies like
    [Google][2], [Horizon Media][3], and [BLS][4].

    ## What I Can Do

      + Websites like shopping carts, blogs and marketing sites.
      + Tumblr and Wordpress themes (and Wordpress plugins)
      + Bring websites up to current Web standards.
      + Improve websites to embrace responsive ideals.

    ## What I Don't Do

      + Native iOS applications **[why?][5]**
      + Native Android applications **yet**

    As of Feb 6, 2015, I haven't kept a "portfolio" since most of the work
    I've done for said components aren't either public facing (more backend
    facing). I'm currently working on a few projects to help recify this. For
    those who find them useful, you can download [the latest copy of my resume
    here][resume].

    [1]: /about/
    [2]: https://google.com
    [3]: http://horizonmedia.com
    [4]: http://www.theblsgroup.com/
    [5]: {% post_url 2013-09-22-i-dont-dislike-apple-os-x %}#why-dont-i-use-os-x-then
    [resume]: /files/resume.pdf
