---
layout: 'default'
title: 'Work'
class: 'work'
---

%header.work
  %span.pre="I can"
  %h2.lead="Work For You"

%p
  As of <strong><mark>2015-08-30 12:00:00 PM EDT</mark></strong>, I
  re-opened my freelancing business and I'm open to new leads. Please visit
  my <a href='/work/freelance' target='_blank'>freelancing center</a> for more
  information.

%h2#activity Activity
%section.blurb
  %figure.captioned-image.right
    %img{src: "../images/rdj-sherlock-snooze.gif"}
    %figcaption The grind never stops; not even for <strong>the weary</strong>.

  :markdown
    **I am a [**full-stack Web developer**](#background)**. Right now, I'm
    currently working with a [rental discovery startup][wyl] part-time,
    **[Wintermute][wintermute]** and a personal messaging experiment. I'm open
    to roles similar to the ones listed on my resume, but please feel
    free to [schedule time][sched] or [send a message][msg] if you'd like to
    propose a new opportunity.

    [wyl]: http://www.whoseyourlandlord.com
    [sched]: /work/schedule/
    [msg]: /contact/
    [wintermute]: http://wintermute.jacky.wtf/

%h2#background Background
%section.blurb
  :markdown
    If you haven't yet, please [**learn a bit about me**][1]. I have worked as
    a **software engineer** or **web developer** for five years now at companies
    like [Google][2], [Horizon Media][3], [BLS][4] and [Shutterstock][6]. I have
    a [Web version of my resume][7]. --I **will not** provide a PDF version of
    my resume-- after discovering that recruiters have a habit plastering their
    logos on top of the resumes. I find this disrespectful since it's done
    _without_ consent.

    > **Visit my [freelancing page][flp] to start working with me.**

    ## Languages

    The work I've done was in either **Perl**, **JavaScript** or **Ruby**.
    Other languages like **C++** and **Python** are languages I've worked with
    on personal projects but have not used in a production environment.

    [1]: /about/
    [2]: https://google.com
    [3]: http://horizonmedia.com
    [4]: http://www.theblsgroup.com/
    [5]: {% post_url 2013-09-22-i-dont-dislike-apple-os-x %}#why-dont-i-use-os-x-then
    [6]: https://shutterstock.com/
    [7]: /work/resume/
    [flp]: /work/freelance/
    [pp]: /work/pay/
