---
layout: 'default'
title: 'Work'
class: 'work'
---

%h1 Work

I'm a <a href="https://duckduckgo.com/?q=web+developer+definition&t=canonical&ia=definition">web developer</a>
that focuses on small businesses and individuals.
