---
layout: 'default'
title: 'Work'
class: 'work'
---

%header.work
  %span.pre="I can"
  %h2.lead="Work For You"

%blockquote
  As of <strong>2015-07-15 16:00:00 PM EDT</strong>, I stopped taking on new
  leads for freelance roles and will be forwarding said roles to fellow
  freelancers who are searching. I am interested in a full-time position as a
  full-stack web developer with more inclination towards the backend
  development process. I am currently <strong>not open</strong> to relocation.

%h2#activity Activity
%section.blurb
  %figure.captioned-image.right
    %img{src: "../images/rdj-sherlock-snooze.gif"}
    %figcaption The grind never stops.

  :markdown
    **I am a [**full-stack Web developer**](#background)**. Right now, I'm
    currently working with a [rental discovery startup][wyl] part-time and
    [a personal project][wintermute].

    I'm open to roles similar to the ones listed on my resume, but please feel
    free to email me or reach me on Twitter to catch more about an opportunity.

    [wyl]: http://www.whoseyourlandlord.com
    [wintermute]: http://wintermute.jacky.wtf/

%h2#background Background
%section.blurb
  :markdown
    If you haven't yet, please [**learn a bit about me**][1]. I have worked as
    a **software engineer** or **web developer** for five years now at companies
    like [Google][2], [Horizon Media][3], [BLS][4] and [Shutterstock][6]. I have
    a [Web version of my resume][7]. I **will not** provide a PDF version of my
    resume after discovering that recruiters have a habit plastering their
    logos on top of the resumes. I find this disrespectful since it's done
    _without_ consent.

    ## What I Can Do

    I'm a programmer that specializes in back-end Web development and is
    comfortable with front-end Web development. I can build or work on the
    following:

      * Bring websites up to current Web standards.
      * Improving websites to embrace responsive ideals.
      * Implementing custom blog platforms.
      * Compartmentalizing business logic from backend code to the front-end.
      * `$YOUR_PROJECT_HERE`

    ## What I Don't Do

    This list is mildly exaggerated.

      + Web services like shopping carts, blogs and marketing sites.
      + Tumblr and Wordpress themes (and Wordpress plugins if **absolutely** needed).
      + Native iOS applications **[why?][5]**,
      + Native Android applications **yet**,
      + Build unicorns and
      + Produce startups out of a box.

    I would like to build unicorns though.

    ## Languages

    Most of the work I've done was in either Perl, JavaScript or Ruby. I have
    experience with PHP at a startup I worked at for a brief period of time before
    gears were switched to port the project's architecture to Rails.

    [1]: /about/
    [2]: https://google.com
    [3]: http://horizonmedia.com
    [4]: http://www.theblsgroup.com/
    [5]: {% post_url 2013-09-22-i-dont-dislike-apple-os-x %}#why-dont-i-use-os-x-then
    [6]: https://shutterstock.com/
    [7]: /work/resume/
    [8]: /work/resume.pdf

%h2#leads Opening A Lead
%section.blurb
  :markdown
    **I'm no longer looking into taking on new leads.**
