---
layout: default
title: Work
class: work
components:
  header: true
  footer: true
---

%h2#activity Activity
%section.blurb
  %figure.captioned-image.right
    %img{src: "../images/im2-rdj-landing.gif"}
    %figcaption The grind never stops; gotta suit up and get going!.

  :markdown
    **I am a [**full-stack Web developer**](#background)**. Right now, I'm
    currently working at [**Clef**][clef] to kill passwords once and for all.

    [clef]: https://getclef.com/

%h2#background Background
%section.blurb
  :markdown
    If you haven't yet, please [**learn a bit about me**][1]. I have worked as
    a **software developer** for five years now at companies like [Google][2],
    [Horizon Media][3], [BLS][4], [Shutterstock][6] and [Clef][8]. I have a 
    [Web version of my resume][7]. I **will not** provide a PDF version of my resume
    after discovering that recruiters have a habit of plastering their logos on top
    of the resumes. I find this disrespectful since it's done _without_ consent.

    ## Languages

    The work I've done was in either **Perl**, **JavaScript** or **Ruby**.
    Other languages like **C++** and **Python** are languages I've worked with
    on personal projects but have not used in a production environment.

    [1]: /about/
    [2]: https://google.com
    [3]: http://horizonmedia.com
    [4]: http://www.theblsgroup.com/
    [5]: {% post_url 2013-09-22-i-dont-dislike-apple-os-x %}#why-dont-i-use-os-x-then
    [6]: https://shutterstock.com/
    [7]: /work/resume/
    [8]: https://getclef.com/
