@import url(../vendor/stylesheets/leaflet.awesome-markers.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body, html { height: 100%; width: 100%; }

body { background: #eee; font-family: "Lato", Helvetica; overflow: hidden; }
body > #body { display: table; width: 100%; height: 100%; }

a { text-decoration: none; }

header { height: 6em; background-color: #412017; color: #fff; }
header > h2#brand { display: table-cell; line-height: 2em; padding-left: 0.25em; font-size: 3em; text-transform: uppercase; float: left; }

body > div#body > div#map { float: left; }
body > div#body > div#map > div#shadow { -webkit-box-shadow: inset 3px 4px 10px #222222; -moz-box-shadow: inset 3px 4px 10px #222222; box-shadow: inset 3px 4px 10px #222222; position: relative; top: 0px; left: 0px; width: 100%; margin: 100%; z-index: 999; pointer-events: none; /* Doesn't work in Opera */ }

body > div#body > div#context { -webkit-transition: 0.2s background-color, 0.2s color; -moz-transition: 0.2s background-color, 0.2s color; -o-transition: 0.2s background-color, 0.2s color; transition: 0.2s background-color, 0.2s color; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; float: right; width: 40%; height: auto; left: 100%; color: #fff; z-index: 9999; }
body > div#body > div#context[data-color=blue] { background-color: #3460a1; }
body > div#body > div#context[data-color=red] { background-color: #cc0001; }
body > div#body > div#context[data-color=orange] { background-color: #e7641d; }
body > div#body > div#context[data-color=green] { background-color: #59934f; }
body > div#body > div#context > div#toolbar { background-color: #ededed; text-align: center; padding: 0.2em; }
body > div#body > div#context > h2#place_title { text-shadow: 1px 1px 4px #222222; background-color: rgba(34, 34, 34, 0.7); text-align: center; position: relative; font-size: 1.75em; line-height: 1.75em; top: -2.2em; height: 1.75em; padding: 0.2em; margin-bottom: -2em; margin-top: -2px; border-bottom: 1px solid #222; border-top: 1px solid #222; }
body > div#body > div#context > div#delivery { -webkit-border-radius: 1em; -moz-border-radius: 1em; -ms-border-radius: 1em; -o-border-radius: 1em; border-radius: 1em; text-align: center; margin: 0.2em 3em; padding: 0.5em 2em; height: 1em; }
body > div#body > div#context > div#delivery[data-delivers=yes] { background-color: #59934f; }
body > div#body > div#context > div#delivery[data-delivers=no] { background-color: #cc0001; }
body > div#body > div#context > div#delivery[data-delivers=wait] { background-color: #e7641d; }
body > div#body > div#context > p { padding-left: 0.5em; }
body > div#body > div#context > p#number { font-size: 1.5em; text-align: center; }
body > div#body > div#context > img#brand { width: 100%; }
body > div#body > div#context > ul#hours { padding: 1em; }
body > div#body > div#context > ul#hours > li:first-child { font-size: 1.4em; padding: 0.2em; }
body > div#body > div#context > ul#hours > li:first-child > i { padding-right: 0.5em; }
body > div#body > div#context > ul#hours > li { margin: 0.1em; text-align: center; }

#about { -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; -ms-border-radius: 0.5em; -o-border-radius: 0.5em; border-radius: 0.5em; -webkit-box-shadow: 0px 2px 10px black; -moz-box-shadow: 0px 2px 10px black; box-shadow: 0px 2px 10px black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; text-align: center; padding: 1em; margin-left: -1em; margin-top: -1em; display: table; left: 35%; top: 40%; width: 30%; height: 10%; font-size: 1.2em; background-color: rgba(20, 20, 20, 0.9); color: #ddd; }
#about > p { display: table-cell; vertical-align: middle; }

.button { font-size: 16px; padding: 0.5em 1.5em; display: inline-block; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0B99C2', endColorstr='#FF064D61'); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b99c2), color-stop(100%, #087392)); background: -webkit-linear-gradient(#0b99c2, #087392); background: -moz-linear-gradient(#0b99c2, #087392); background: -o-linear-gradient(#0b99c2, #087392); background: linear-gradient(#0b99c2, #087392); -webkit-box-shadow: #27c5f3 0 1px 0 inset; -moz-box-shadow: #27c5f3 0 1px 0 inset; box-shadow: #27c5f3 0 1px 0 inset; border: 1px solid #07607a; color: white; text-shadow: #043645 0 -1px 0; margin: 0.5em; }
.button:hover { text-decoration: none; }
.button:hover { background-color: #07607a; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a86aa), color-stop(100%, #07607a)); background: -webkit-linear-gradient(#0a86aa, #07607a); background: -moz-linear-gradient(#0a86aa, #07607a); background: -o-linear-gradient(#0a86aa, #07607a); background: linear-gradient(#0a86aa, #07607a); }
.button:active { -webkit-box-shadow: #06546b 0 1px 2px inset; -moz-box-shadow: #06546b 0 1px 2px inset; box-shadow: #06546b 0 1px 2px inset; }
.button.disabled, .button[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; background: #087392; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.button::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }
