---
# This is required to make it include from the root Sass directory.
---

@import '_reset';

//
// COLOR VARIABLES
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

$desktop-width: 50rem;

$color-link: $blue;
$color-text: $black;

body {
  font-family: Martel;
  margin: 0em;
  padding: 0em;
}

.link, a {
  text-decoration: none;
  color: $color-link;
}

ul > li {
  list-style: square;
}

pre, code, kbd {
  font-family: Inconsolata;
}

header.main {
  width: 100%;
  background-color: $black;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0rem;

  a {
    color: $gray;
  }

  > h1 {
    margin: 0rem 0rem 0.75rem 0rem;
    line-height: 1;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    > h1 {
      margin-top: 0.15rem;
      font-size: 4rem;
    }

    > a {
      font-size: 1.5rem;
    }
  }
}

nav.main {
  width: 100vw;
  max-width: 25rem;
  display: flex;
  justify-content: space-around;
  margin: 0rem auto;
}

main.main {
  width: 95vw;
  margin: 0rem auto;

  @media (min-width: $desktop-width) {
    width: 80vw;
  }
}

img {
  max-width: 100%;
  height: auto;

  &.round {
    border-radius: 50%;
    margin: 0.25rem;
  }
}

.pull-right { float: right; }
.pull-left { float: left; }
.sift-to-left { text-align: left; }
.sift-to-center { text-align: center; }
.sift-to-right { text-align: right; }
.sift-to-justify { text-align: justify; }

.instagram-media {
  margin: 0rem auto;
  display: block;
}

body.about > img#self {
  @extend img.round;
  width: 100%;

  @media (min-width: $desktop-width) {
    > & {
      width: auto;
      float: right;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  margin: 0.5rem 0rem;

  a {
    @extend .link;
    color: $color-text;
  }
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

aside[role=stats] {
  @extend .sift-to-center;
  font-size: 0.75rem;
}

h3#jalcinePrompt {
  font-family: monospace;

  > span {
    color: #000;
  }
}

hr {
  color: #999;
  border: 1px solid transparent;
}

ol, li {
  padding-inline-start: 1.2rem;
}

header[role=post] {
  padding: 0.5rem 0rem;
  margin: 0.75rem 0.5rem 1.5rem;
}

main.main {
  padding: 0.75rem 0rem;
}

img#self {
  float: right;
  margin: 1rem;
}

figure.captioned-image {
  margin-top: -2rem;
  display: inline-block;
  float: right;

  img {
    margin: 0rem auto;
    display: block;
  }

  figcaption {
    display: block;
    font-size: small;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
}

p {
  margin: 0.5rem 0rem;
  line-height: 2;

  &.lead {
    font-size: 125%;
    line-height: 1.2;
  }
}

.footnotes {
  margin: 1rem 2.5rem 2rem;

  ol {
    list-style-type: decimal;
    li, p { margin: 0.25rem 0rem; }
    font-size: 0.9rem;
  }
}

ul.entries {
  width: 95%;
  margin: 1rem auto;

  li {
    list-style: none;
    margin: 0.2rem 0rem;
    padding: 0.4rem;
    padding-inline-start: 0rem;

    > time { font-weight: bold; }
  }
}

dl {
  dt { font-weight: bold; }
  dd { padding: 1rem 0rem; }
}

section.focused {
  width: 80%;
  max-width: 45rem;
  margin: 0rem auto;
}

@import 'code';
