---
layout: bare
title: "My Resume"
permalink: /work/resume/
redirect_from: /resume/
components:
  header: false
---
<section role="header" class="w-100 w-90-m w-75-l center" data-track-content>
  <h1 class="f1 f-headline-l lh-title tracked-tight fg-accent ph3 tc-s">{{ site.author }}</h1>
  <p class="cb tc tr-l mb4 tc-s">
    <a href="mailto:yo@jacky.wtf">yo@jacky.wtf</a>
    <span class="pv1 fg">//</span>
    <a href="{{ site.url }}" target="_blank">{{ site.url }}</a>
  </p>
  <h2 class="tc-s fl-l w-100 w-20-l pv3 ph2 ma0 mt1 mh2-s bg-accent fg-white avenir sans-serif ttu tr-l">Summary</h2>
  <div class="f4 pa2 fl w-80-l w-100-l pl2-l ma0 lh-copy measure fw2">
    {{ site.data.resume.bio | strip | markdownify | remove: '<p>' | remove: '</p>'}}
  </div>
</section>
<main role="body" class="w-100 w-90-m w-75-l center cb sans-serif">
  <h2 class="tc-s fl-l w-100 w-20-l pv3 ph2 bg-accent fg-white avenir sans-serif ttu ma0 mt1 mh2-s tr-l">Roles</h2>
  <div class="fl-l w-80-l w-100 pa2">
    {% for position in site.data.resume.roles %}
      <div class="pb4" data-track-content="resume" data-content-piece="{{ position.anchor }}">
        <h3 class="mv0 f3 garamond serif">
          <em class="fw3 gray">{{ position.role }},</em> <a href="{{ position.uri }}" target="_blank" name="{{ position.anchor }}" class="near-black">
            <strong>{{ position.name }}</strong>
          </a>
        </h3>
        {% if position.time.end %}
        <p class="gray f5 mv1 f6">
          From <em class="near-black">{{ position.time.start }}</em>
          until <em class="near-black">{{ position.time.end }}</em>
        </p>
        {% else %}
        <p class="gray f5 mv1 f6">
          From <em class="near-black">{{ position.time.start }}</em>
          until <strong>today</strong>
        </p>
        {% endif %}
        <div class="lh-copy f5 measure">
          {{ position.blurb | strip | markdownify }}
        </div>
      </div>
    {% endfor %}
  </div>
</main>
