<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title || "Page" }} - {{ site.name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="description" content="{{ page.description || site.description }}" />
<meta property="og:description" content="{{ page.description || site.description }}" />
<meta property="og:image" content="//gravatar.com/avatar/80a10e58c35275ddb7a8e681f277e474?s=64" />
<meta property="og:title" content="{{ page.title || "Page" }} - {{ site.name }}" />
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:url" content="{{ site.url}}{{ page.url }}">
<link rel="apple-touch-icon" href="//gravatar.com/avatar/80a10e58c35275ddb7a8e681f277e474?s=64" />
<link rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.name }}" type="application/atom+xml" />
<link rel="shortcut icon" href="//gravatar.com/avatar/80a10e58c35275ddb7a8e681f277e474?s=64" rel="icon" />
<link rel="canonical"   href="{{ site.url }}" />
<script type="text/javascript">
var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
if (location.host != "localhost:4000"){
	analytics.load("se6rauh0mx");
	analytics.track("on blog");
}
</script>
{% stylesheet main %}
{% if page.custom_css %}{{ page.custom_css | stylesheet }}{% endif %}
</head>
<body class="blog">
<header>
	<nav>
		<div class="wrapper">
			<div class="left">
				<a href="http://jalcine.me" class="brand">jalciné</a>
				<a href="http://jalcine.me" class="back"><i class="icon-home"></i></a>
			</div>
			<div class="right">
				<a href="https://twitter.com/jackyalcine" target="_blank"><i class="icon-twitter"></i></a>
				<a href="https://alpha.app.net/jackyalcine" target="_blank"><i class="icon-adn"></i></a>
				<a href="https://github.com/jalcine" target="_blank"><i class="icon-github-alt"></i></a>
			</div>
		</div>
	</nav>
</header>
<div class="content">
	{{ content }}
</div>
<footer>
	<section class="colophon">
		<p>
		Jacky Alciné<br />
		A dude with a laptop.<br />
		<a href="mailto://me@jalcine.me"> me@jalcine.me </a>
		</p>
	</section>
	<section class="contact">
	</section>
</footer>
{% if page.custom_js %}{{ page.custom_js | javascript }}{% endif %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'jackyalcine'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
	var s = document.createElement('script'); s.async = true;
	s.type = 'text/javascript';
	s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

{% javascript main %}
</body>
</html>
