---
layout: default
---
<div id="fb-root"></div>
<script>
if (location.host != "localhost:4000"){
	analytics.track("view post", {
		postId: "{{page.id}}"
	});
}
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<article class="entry">
	<h2 class="title" id="top">
		{% if page.link %}
		<i class="icon-link"></i> <a href="{{ page.link }}">{{ page.title }}</a>
		{% else %}
		{{ page.title }}
		{% endif %}
		{% if page.subheader %}
		<br />
		<small>{{ page.subheader }}</small>
		{% endif %}
	</h2>
	<p class="meta">
	<time class="time" datetime="{{ page.date }}">
		<i class="icon-time"></i> {{ page.date | timeago }}
	</time>
	<a class="comments" href="#disqus_thread">comments</a>
	<span class="read-time">
		<i class="icon-compass"></i> {{ content | reading_time }}
	</span>
	</p>

	<div class="post">
		{{ content }}
	</div>

	<div class="sharing">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="jackyalcine" data-url="{{ site.url}}{{ page.url}}" data-count="horizontal">Tweet</a>
	</div>

	<hr>

	{% if page.comments %}
	<div class="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
var disqus_shortname = 'jackyalcine';
(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
		</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
	{% endif %}
</article>
