---
layout: default
title: "Pair With Me!"
class: "pairwithme"
---

%img.profile{src:"/images/me.jpeg", alt:"Hey, what's going on?"}

%p.lead
  :markdown
    Inspired by [David Celis's page][1], I've decided to add this page to
    invite friends to pair up! I have no real strong preference on the person
    I'd want to pair up since learning comes (for me) in the most unexpected
    way! Here's some things to keep in mind.

    + I'm a big user of [Vim][] and most of [the mappings][2] I use are laid
      out online. Study up (or provide me yours)!
    + I do try to stick to a [TDD][]-style development flow.
    + I live over in New York City (on EST / EDT) but can work remotely by
      about +/- 2 hours.
    + By trade, I'm a full-stack web developer working with Node and Ruby
      technologies.
    + This is a _free_ service so we won't be working on paid work. Let's
      work together to improve **open** tools and software.

    I'm working to invest in the resources shown at [Pair Program With Me][3].

    [1]: http://davidcel.is/pairing/
    [2]: https://github.com/jalcine/vimrc/blob/master/home/.vim/plugin/13_mappings.vim
    [3]: http://www.pairprogramwith.me/
    [vim]: http://www.vim.org/
    [ttd]: https://duckduckgo.com/?q=Test+Driven+Development

%p{style: "display: flex; justify-content: center"}
  %a.pair{href:"mailto:yo@jacky.wtf?subject=Pair%20program%20with%20me", title:"Pair program with me!"}
    %img{src:"http://pairprogramwith.me/badge.png",alt:"Pair program with me!"}
