{% if webmentions.size > 0 %}
  <section class="cb cf mv2">
    <strong>:recycle: Reposted by:</strong>
    <div class="cb cf mv2">
      {% for mention in webmentions %}
        {% if mention.author.photo %}
          <div class="ma1 dib fl webmention__author p-author h-card">
            <a title="{{ mention.author.name }}"
               target="_blank"
               class="u-url"
             href="{% if mention.url %}{{ mention.url }}{% else %}{{ mention.author.url }}{% endif %}">
                <img class="mw2 br-100 dim grow u-photo v-mid"
                     src="{{ mention.author.photo }}"
                     alt="{{ mention.author.name }}"
                     title="{{ mention.author.name }}" />
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}
