{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<div class="webmentions"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list list pa1">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          {% case webmention.type %}
          {% when 'like' %}
          {% include webmentions/like.html webmention=webmention %}
          {% when 'repost' %}
          {% include webmentions/repost.html webmention=webmention %}
          {% when 'reply' %}
          {% include webmentions/repost.html webmention=webmention %}
          {% else %}
          {% include webmentions/catch_all.html webmention=webmention %}
          {% endcase %}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">
      No webmentions were found. Try sending one!
    </p>
  {% endif %}
</div>
