---
layout: default
classes:
  - blog
---

<div id="post">
  <h2>{{ page.title }}</h2>
  <dl id="postcard">
    <ul>
      <li>
        <i class="icon-pencil"></i> Written <strong>
        {{ page.date |  date_to_string }}</strong>
      </li>
    </ul>
  </dl>

  <section class="content">
    {{ content }}
  </section>

  <section class="related">
    <p><strong>RELATED:</strong> You might also like</p>
    <ul>
      {% for page in site.related_posts %}
      <li>
        <a href="{{ page.url }}" title="{{ page.title }}">
          {{ page.title }}
        </a>
        </li>
      {% endfor %}
  </section>
</div>
