---
layout: 'default'
title: 'Freelancing - Work'
class: 'work'
---

%h1 Freelancing
%p
  As of <mark>August 30, 2015</mark>, I've become available for freelancing work
  once more.

%h2#schedule Scheduling Time
%p Click a link below to set up a time that'd be appropriate for both of us to have a chat.

%ul
  %li
    %a{href:'https://calendly.com/jackyalcine/15min', title:'15 minutes', target:'_blank'} 15 Minutes 
  %li
    %a{href:'https://calendly.com/jackyalcine/30min', title:'30 minutes', target:'_blank'}
      %mark 30 Minutes 
      %em optimal

:markdown
  ### What I Can Do
  I'm a programmer that specializes in back-end Web development and is
  comfortable with front-end Web development. I can build or work on the
  following:

    * Bring websites up to current Web standards.
    * Improving websites to embrace responsive ideals.
    * Implementing custom blog platforms.
    * Compartmentalizing business logic to a maintainable architectural setup. 
    * Implement Tumblr themes.

  ### What I Don't Do

    + E-commerce Web services (i.e.: shopping carts, marketplaces).
    + Wordpress site themes.
    + Native iOS applications or Android applications **yet**,
    + Build unicorns _or_ Produce startups out of a box.

  > If you prefer, you can [send me a message](/contact/) instead.
