---
layout: 'default'
title: 'Freelancing - Work'
class: 'work'
---

%h1 Freelancing
%p
  As of <mark>October 19, 2015</mark>, I've taken myself off the freelancing market.

%h2#schedule Scheduling Time
%p Click a link below to set up a time that'd be appropriate for both of us to have a chat.

%ul
  %li
    %strike
      %a{href:'#', title:'15 minutes'} 15 Minutes
  %li
    %strike
      %a{href:'#', title:'30 minutes'}
        %mark 30 Minutes
        %em optimal

:markdown
  If you prefer, you can [send me a message](/contact/) instead.
