---
layout: default
title: Welcome
classes: "index"
---

%p.grand
  This is my website. It tells my <em><a href="/weblog">chronicles
  </a></em> and a little bit <em><a href="/about.html">about me</a>
  </em>. I wrote about <em><a href=
  "{% post_url 2013-09-20-the-other-side-of-being-a-young-developer %}">
  being a young developer</a></em> for the curious. I reply to e-mail,
  but typically sooner to those that are cryptographically encrypted.

%h1.title
  Hi. I'm Jacky! 

%p.intro
  I'm a <strong>software developer</strong> that lives in New York City. I'm a 
  (wannabe) hardcore console gamer, F/OSS advocate and a bit of a shy guy.
  At this time, I'd prefer <b><a href="mailto://me@jalcine.me">e-mail</a></b> 
  (PGP-signed + encrypted) as a means of communication, but anything electronic
  would do.
