---
layout: default
title: Welcome
description: "This is my website's front page; the welcome mat if you may."
classes: "page index"
---

%h1.lead
  web.jalcine.me
%p.text-center.lead
  %strong.lead This site serves as my public-facing "portal" on the Internet.
  I'd say comfortably that the posts and content you find here are
  pieces of work I cobbled together and deemed worthy of sharing to
  colleagues and non-colleagues alike.

%img{src: 'images/welcome.gif'}

%aside.half
  %h4 Cryptography
  %p.text-justify
    I take part of the use of cryptography signatures to identify and encrypt
    data whenever deemed necessary. The likes are typically taken for e-mail and
    release of software.
  %br
  %p
    %strong
      %a{href: '/jalcine.gpg', title: 'A1A5 A0EB B69F 23AE 67B6 F914 2A23 4ABC 6E76 7393'}
        Public Key
      &
      Checksum:
      %pre 4887290abce9139de0844aae600e1ac

%aside.half
  %h4 Contact
  %p.text-justify
    :markdown
      I'm reachable mainly by e-mail so feel free to send an e-mail to
      `me` at the domain you're visiting right now. Outside of classically used 
      mediums for communication, [Twitter][] tends to be almost as fast as SMS.
      _Almost_.

      [twitter]: https://www.twitter.com/jackyalcine
