---
layout: 'default'
title: 'Home'
class: 'index'
no_header: true
---

%section#top
  %h1="Ohai! I'm Jacky."
  %p.lead
    %a{href:"/weblog/"} Writings
    &mdash;
    %a{href:"/about/"} About
    &mdash;
    %a{href:"/gear/"} Gear
  %p
    %strong hey. dis right hur my site.
