---
layout: 'default'
title: 'Home'
class: 'index'
no_header: true
---

%section#top
  %h1 Jacky Alciné
  %h3 I totally know what I'm doing, honest.

%nav.index
  %a{href: "/about/"} About
  %a{href: "/weblog/"} Weblog
  %a{href: "/gear/"} Gear
  %a{href: "/work/"} Work
  %a{href: "/gpg/"} GPG

%section#blurb
  %h1 Yo.
  %p
    Yeah, you made it. This is where Jacky stashes all of the stuff that he
    finds on the Web that'd he care to have publicly available. I mean, I'm
    readably discoverable on the Web so if you were looking for this, you
    made it.

%section#ironman.image
