---
layout: 'default'
title: 'Home'
class: 'index'
no_header: true
---

%section#top
  %h1="I'm Jacky."
  %p.lead
    %a{href:"/weblog/"} Weblog
    &mdash;
    %a{href:"/about/"} About
    &mdash;
    %a{href:"/work/"} Work
    &mdash;
    %a{href:"/gear/"} Gear
    &mdash;
    %a{href:"/gpg/"} GPG
  %p
    %strong My rented corner of the public IPv4/6 Web
    &mdash;
    %a{href: "https://www.flickr.com/photos/jackyalcine/15556142996/", target: "_blank"}
      background
  %p
    %strong LATEST ENTRY:
    %a{href: "{{ site.posts.first.url }}", style: "text-decoration: underline"}
      = "{{ site.posts.first.title }}"
