---
layout: bare
title: Welcome
classes: "page index"
crypto: "A1A5 A0EB B69F 23AE 67B6 F914 2A23 4ABC 6E76 7393"
checksum: 4887290abce9139de0844aae600e1ac
---
%header{role: :masthead}
  %div#masthead
    %ul
      %li
        %a{href:'/weblog'} Blog
      %li
        :plain
          &mdash;
      %li
        %a{href: '/about'} About
    %img{src: '/images/me.png'}
    %h1
      %a{href:'/'}
        jalcine

%section{role: :landing}
  :markdown
    In short, the Web pages found here are what I think are okay enough 
    for search engines to crawl and are worthy enough to archived into the
    books. I [write][1] occasionally and I'm getting in the habit of 
    [taking pictures][2]. Yeah, that's me.

    [1]: /weblog
    [2]: /photolog

    ---
