---
layout: 'default'
title: 'Home'
class: 'index'
no_header: true
---

%header.index
  %span.pre= "Hey, I'm"
  %h2.lead="{{ site.author }}"
%nav.mini
  %a{href: "/weblog/",title:"Weblog"}="Weblog"
  %a{href: "/about/",title:"About"}="About"
  %a{href: "/work/",title:"Work"}="Work"
%section.blurb
  :markdown
    # Who Are You?
    I'm a software engineer in Brooklyn, New York City. I currently am
    [working as a **freelancer**][freelance] but am open to new opportunities.
    You can **[hire me][]** for website-related work. It doesn't hurt to learn
    a bit [about me][].

    ## Whatcha Doing?
    Right now, I'm spending a lot of attention towards [Wintermute][].
    I'm also working on helping people of color getting into software
    development as well as using said skills to aid social justice.
    [All in the works, of course][blkops].

    [about me]: /about/
    [hire me]: /work/
    [blkops]: https://blkops.github.io
    [wintermute]: {% post_url 2015-01-10-ambitions-wintermute %}
    [freelance]: {% post_url 2015-01-30-freelancing-2015 %}
%section.links
  %ul
    {% for link in site.data.links.social %}
    %li
      %a{href:"{{ link.link }}",title:"{{ link.title }}",target:"_blank"}
        %i{class:"icon-{{ link.icon }}"}
        %b="{{ link.title }}"
    {% endfor %}

