---
layout: 'default'
title: 'Home'
class: 'index'
no_header: true
---

%section#top
  %h1="Ohai! I'm Jacky."
  %p.lead
    %a{href:"/weblog/"} Weblog
    &mdash;
    %a{href:"/about/"} About
    &mdash;
    %a{href:"/work/"} Work
    &mdash;
    %a{href:"/gear/"} Gear
    &mdash;
    %a{href:"/gpg/"} GPG
  %p
    %strong My rented corner of the public IPv4/6 Web.
  %p
    %strong Latest Entry:
    %a{href: "{{ site.posts.first.url }}"}
      = "{{ site.posts.first.title }}"
