---
layout: 'default'
title: 'Home'
class: 'index'
no_header: true
no_footer: true
---

%section#top
  %h1 Jacky Alciné
  %h3 I totally know what I'm doing, honest.

%nav.index
  %a{href: "/about/"} About
  %a{href: "/weblog/"} Weblog
  %a{href: "/gear/"} Gear
  %a{href: "/work/"} Work
  %a{href: "/gpg/"} GPG
