---
layout: default
title: Welcome
classes: "index"
---

%h1.title
  I'm Jacky! &#9786;

%p.grand
  This is my website. It tells my <a href="/weblog">chronicles
  </a> and a bit <a href="/about.html">about me</a>.
  I wrote about <a href=
  "{% post_url 2013-09-20-the-other-side-of-being-a-young-developer %}">
  being a young developer</a> for the curious. I reply to e-mail,
  but typically sooner to those that are cryptographically encrypted.
  Below is a token of good will, a gif to englighten your digital soul.
  Take it with gratitude.

%img.full{src: 'images/welcome.gif', alt: 'Power Rangers & TMNT',
  title: 'Power Rangers & TMNT'}
