---
layout: 'default'
title: 'Home'
class: 'index'
no_header: true
---

%section#top
  %h1 Jacky Alciné
  %h3 I totally know what I'm doing, honest.

%nav.index
  %a{href: "/about/"} About
  %a{href: "/weblog/"} Weblog
  %a{href: "/gear/"} Gear
  %a{href: "/work/"} Work
  %a{href: "/gpg/"} GPG

%section#blurb
  %h1 Yo.
  %p
    The last thing I wrote was
    %a{href: "{{ site.posts.first.url }}"}= "{{ site.posts.first.title }}."
    You should check it out. You could also learn
    %a{href: "/about"} about me
    or
    %a{href: "/work/"} hire me
    so I can help you build useful software.

%section#ironman.image
  %p
%section#things
  %div.region
    %div.image
    %p I like trees in LA.
  %div.region
    %div.image
    %p I think RDJ is awesome.
  %div.region
    %div.image
    %p Being an avid social media user, this is my constant reaction.
