blockquote.twitter-tweet
  margin: 0rem auto
  background-color: $twitter-blue
  border-color: darken($twitter-blue, 15%)
  border-left-color: darken($twitter-blue, 25%)
  text-align: right

  p
    text-align: left
    margin: 0.5rem auto
