---
title: Weblog
---

<% content_for :banner do %>
  <h1>Weblog <small>my personal manuscript of musings on the Web.</small></h1>
<% end %>

<% for i in 1..5 do %>
<article role="excerpt">
  <header>
    <span class="entry-timestamp">40 minutes ago</span>
    <h1 class="entry-title"><a href="blog.post.html">An Awesome Entry</a></h1>
  </header>
  <div class="entry-content">
    <p class="excerpt"><%= LoremIpsum::Generator.new.generate({:paragraphs => 1}) %></p>
  </div>
  <footer></footer>
</article>
<% end %>
