---
title: Yet Another Blog Post
---

<% content_for :banner do %>
  <h1 class="post-title">Yet Another Blog Post</h1>
  <small class="post-snippet">Some text that would give the reader a quick yet sparing understanding of the blog post.</small>
<% end %>

<article role="article">
  <header>
    <h1 class="entry-title">Yet Another Blog Post</h1>
    <span class="entry-timestamp">40 minutes ago</span>
  </header>

  <div class="entry-content">
    <p> AWESOME </p>
    <p> AWESOME AWESOME </p>
  </div>
  
  <footer>
    <a href="#" class="permalink"></a>
    <p class="sharing">
      <a href="#"><i class="icon-facebook-sign"></i>Share on Facebook</a>
      <a href="#"><i class="icon-twitter-sign"></i>Post on Twitter</a>
      <a href="#"><i class="icon-link"></i>Discuss on Branch</a>
    </p>
  </footer>
</article>
