---
title: Web Page in Single Column View
---
<!--
<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
  <!--</div><!-- .welcome -->

<h1>Single Column View</h1>
<p><%= LoremIpsum::Generator.new.generate({paragraphs: 2}) %></p>
