---
title: "'Ello! - Jacky Alcine"
layout: minimal
---
%script{type: "text/javascript"}
  analytics.track("on front page");
%p.caps
  Jiving est. July 1993
%p.text
  I write code and I think it's pretty cool. I write
  about my life with it as often as I can. By trade, I'm a PHP and Ruby web developer.
  Otherwise, you'll catch me hacking on just about anything I can get my hands on.
