---
title: "'Ello! - Jacky Alcine"
---
%section.welcome
  %h1
    HI
  %p
    I'm an average programmer that wants to be a 
    %a{href: "http://www.youtube.com/watch?v=VVyoXimCrdQ"}
      genius
    and also make things I think are cool and awesome.
    Whenever you have some time to kill, check out
    %a{href: "http://blog.jalcine.me/?ref=home_text"}
      my blog
    and glance at my (near) daily musings. I'm working on
    writing a new post at least once a week but life's hectic.
  %p
    Check out some awesome things about my coding background like my
    %a{href:"http://osrc.dfm.io/jalcine"}
      coding background on GitHub
    ,or my
    %a{href:"http://resume.github.io/?jalcine"}
      GitHub resume.
  %p
    I'm doing a bit of consulting at the moment. My portfolio is available
    <a href="/projects/portfolio.html">right here</a>!
