---
title: "'Ello! - Jacky Alcine"
---
%section.welcome
  %h1
    HI
  %p
    I'm an average programmer that wants to be a 
    %a{href: "http://www.youtube.com/watch?v=VVyoXimCrdQ"}
      genius
    and also make things I think are cool and awesome.
    Whenever you have some time to kill, check out
    %a{href: "http://blog.jalcine.me/?ref=home_text"}
      my blog
    and glance at my (near) daily musings. I'm working on
    writing a new post at least once a week but life's hectic.
