---
title: Bonjour!
---

<h1 class="hi">Hi. ◕‿◕</h1>
<p>
  <strong>explorer</strong> by day, <strong>coder</strong> by night. <br>
  fun guy all 'round.
</p>

<div class="links-social">
  <a href="http://www.url.jalcine.me/15BgJws"><i class="icon-facebook-sign"></i></a>
  <a href="http://www.url.jalcine.me/ZB94JA"><i class="icon-twitter-sign"></i></a>
  <a href="http://www.url.jalcine.me/VBjs4S"><i class="icon-linkedin-sign"></i></a>
  <a href="http://www.url.jalcine.me/154hkpt"><i class="icon-github-sign"></i></a>
  <a href="http://www.url.jalcine.me/10pvIpo"><i class="icon-google-plus-sign"></i></a>
</div>
