---
title: Work - Jacky Alcine
layout: minimal
---

%script{type: "text/javascript"}
  analytics.track("on front page");
%h2
  Work
%p
  Let's cut to the chase. Right now, I'm <strong>unemployed</strong> (though funemployment rocks!) and 
  actively looking for a position as either:
  %ul
    %li
      freelance web developer
    %li
      junior backend Ruby on Rails developer
    %li
      junior backend Django developer

%hr

%p
  I've started a personal consulting gig with a few people; <a href="/projects/portfolio.html">here's my portfolio</a>.
  Not your cup of tea (or coffee)? <a href="https://www.dropbox.com/s/jl9n7z9wq3aq37g/Resume.pdf">Here's my resume</a>.
