---
title: "Vim - Projects - Jacky Alcine"
---

%section.intro
  %h1
    Vim
  %p
    Vim is awesome. No intro needed. You wanna learn how to write VimScript?
    %a{href: "http://learnvimscriptthehardway.stevelosh.com"}
      Ask Steve,
    the guy taught me. I wonder if he'd be proud of me.
  %hr
  %h2.subheader
    &raquo;
    %a{href: "http://jalcine.github.io/android-dev.vim/"}
      android-dev.vim
  %p
    This project is a personal itch I've wanted to scratch for a while.
    My Java is rusty but I'm flexing what little muscles I have with this plugin.
    The goal is to eventually provide the building, testing and <code>ant</code>-
    build suite in Vim.
  %h2.subheader
    &raquo;
    %a{href: "http://jalcine.github.io/cmake-support.vim/"}
      cmake-support.vim
  %p
    This is a big, BIG project to me. CMake is the only way one should even bother
    attempt to build C or C++ projects. CMake makes it insanely easy to build a project
    and easier to make it cross-platform. I use it a lot especially with Wintermute, and
    I had a few hacks I use locally so I'm working to make it into a plug-in.
  %h2.subheader
    &raquo;
    %a{href: "http://github.com/jalcine/vimrc"}
      My Vim configuration
  %p
    I take a bit of pride into the configuration for Vim. It's my bread and butter and
    it gets me going. Literally. Take a peek and check it out.
