---
layout: default
title: "Projects"
class: "projects"
---

%section.parent-wrapper
  %h1.lead.center="Projects"
  %p.lead
    Everyone has a few projects that they work on, be it for pleasure,
    work or both! Check out a few I've dabbled on over the years.

  %hr

  %dl
    %dt
      %a{href: "https://jalcine.github.io/cmake.vim"}="CMake Support in Vim"
    %dd
      A VimScript plugin that allows one to make use of CMake as a
      first class tool in Vim.

    %dt
      %a{href: "https://jalcine.github.io/wintermute"}="Wintermute"
    %dd
      An ongoing attempt to build an intelligent suite of applications
      and connected hardware in an open and secure manner.
      %em="in-progress, defunct"

    %dt
      %a{href: "https://jalcine.github.io/kio-cloud"}="kio-cloud"
      %em="defunct, considering-redo"
    %dd
      A KIO (KDE Input/Output) abstraction layer for a suite of cloud
      services to be used natively on one's file system.

    %dt
      %a{href: "https://github.com/jalcine/website"}="jacky.wtf"
    %dd
      This site itself is an evolving project of mine to explore certain Web
      technologies. Check out the sources!

